In [1]:
import sys
import pandas as pd
from openbb import obb
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import inspect
import yfinance as yf
import plotly
import plotly.graph_objects as go
import ta
import numpy as np
import matplotlib.pyplot as plt
import json

In [2]:
# check environment
print(sys.prefix)
print(sys.executable)

/Users/liuxingyu/project/finance/.venv
/Users/liuxingyu/project/finance/.venv/bin/python

In [3]:
def historical_data(symbol, interval='1d', window1=3, window2=20, alpha1=0.1, alpha2=0.5):
    # start_date and end_date default is 99 years and now if set none
    data_historical = yf.download(symbol, interval=interval, period='max', actions='True')

    # Calculate RSI
    data_historical["RSI"] = ta.momentum.RSIIndicator(data_historical["Close"]).rsi()

    # Calculate Bollinger Bands
    bbands = ta.volatility.BollingerBands(data_historical["Close"])
    data_historical["BB_upper"] = bbands.bollinger_hband()
    data_historical["BB_lower"] = bbands.bollinger_lband()

    # Calculate MACD
    macd = ta.trend.MACD(data_historical["Close"])
    data_historical["MACD"] = macd.macd()
    data_historical["MACD_signal"] = macd.macd_signal()

    # Calculate percentage change
    data_historical['pct_change'] = data_historical['Adj Close'].pct_change()

    # min_periods = 1 let the ma starting with first month
    SMA1 = "SMA-"+str(window1)
    data_historical[SMA1] = data_historical['Adj Close'].rolling(window1,min_periods=1).mean()

    window = 20
    SMA2 = "SMA-"+str(window2)
    data_historical[SMA2] = data_historical['Adj Close'].rolling(window2,min_periods=1).mean()

    data_historical['EMA_'+str(alpha1)] = data_historical['Adj Close'].ewm(alpha=alpha1, adjust=False).mean()
    data_historical['EMA_'+str(alpha2)] = data_historical['Adj Close'].ewm(alpha=alpha2, adjust=False).mean()

    # Shift to the future by one day so that everyday uses the information up to 
    # yesterday to make a trading decision for tmr
    data_historical[SMA1+'-3_shift_1d'] = data_historical[SMA1].shift(1)
    data_historical[SMA2+'-20_shift_1d'] = data_historical[SMA2].shift(1)

    # identify buy signal
    data_historical['signal'] = np.where(data_historical[SMA1+'-3_shift_1d'] > data_historical[SMA2+'-20_shift_1d'], 1, 0)
    # identify sell signal
    data_historical['signal'] = np.where(data_historical[SMA1+'-3_shift_1d'] < data_historical[SMA2+'-20_shift_1d'], -1, data_historical['signal'])

    # calculate instantaneous log return for buy-and-hold straetegy as benchmark
    data_historical['log_return_buy_n_hold'] = np.log(data_historical['Adj Close']).diff()

    # calculate instantaneous log return for trend following straetegy
    data_historical['log_return_trend_follow'] = data_historical['signal'] * data_historical['log_return_buy_n_hold']

    # derive trading action at each time step; 2 is buy, -2 is sell
    data_historical['action'] = data_historical.signal.diff()

    data_historical['symbol'] = symbol

    return data_historical

In [4]:
def general_info(symbol):
    ticker_obj = yf.Ticker(symbol)
    ticker_obj.info['companyOfficers'] = json.dumps(ticker_obj.info['companyOfficers'])
    df_info = pd.DataFrame([ticker_obj.info])
    df_info['symbol'] = symbol
    df_actions = ticker_obj.actions.reset_index()
    df_actions['symbol'] = symbol
    df_quarterly_income_stmt = ticker_obj.quarterly_income_stmt.transpose().reset_index()
    df_quarterly_income_stmt['symbol'] = symbol
    df_quarterly_balance_sheet = ticker_obj.quarterly_balance_sheet.transpose().reset_index()
    df_quarterly_balance_sheet['symbol'] = symbol
    df_quarterly_cashflow = ticker_obj.quarterly_cashflow.transpose().reset_index()
    df_quarterly_cashflow['symbol'] = symbol
    df_recommendations_summary = ticker_obj.recommendations_summary
    df_recommendations_summary['symbol'] = symbol
    df_upgrades_downgrades = ticker_obj.upgrades_downgrades.reset_index()
    df_upgrades_downgrades['symbol'] = symbol
    df_get_earnings_dates = ticker_obj.get_earnings_dates(limit=1000).reset_index()
    df_get_earnings_dates['symbol'] = symbol
    df_news = pd.DataFrame(ticker_obj.news)
    df_news['thumbnail'] = df_news['thumbnail'].apply(json.dumps)
    df_news['relatedTickers'] = df_news['relatedTickers'].apply(json.dumps)
    df_news['symbol'] = symbol

    return df_info, df_actions, df_quarterly_income_stmt, df_quarterly_balance_sheet, df_quarterly_cashflow, df_recommendations_summary, \
    df_upgrades_downgrades, df_get_earnings_dates, df_news

In [5]:
# parameters
symbol_list = ['NVDA','TSLA','MSFT','AMZN','AAPL','META','GOOG']
# symbol_list = ['NVDA']
end_date = pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d')
start_date = '1900-01-01'

In [6]:
df_info_all = pd.DataFrame()
df_actions_all = pd.DataFrame()
df_quarterly_income_stmt_all = pd.DataFrame()
df_quarterly_balance_sheet_all = pd.DataFrame()
df_quarterly_cashflow_all = pd.DataFrame()
df_recommendations_summary_all = pd.DataFrame()
df_upgrades_downgrades_all = pd.DataFrame()
df_get_earnings_dates_all = pd.DataFrame()
df_news_all = pd.DataFrame()
data_historical_all = pd.DataFrame()

for symbol in symbol_list:
    print(symbol)
    df_info, df_actions, df_quarterly_income_stmt, df_quarterly_balance_sheet, df_quarterly_cashflow, df_recommendations_summary, \
    df_upgrades_downgrades, df_get_earnings_dates, df_news = general_info(symbol)
    df_historical = historical_data(symbol, interval='1d', window1=3, window2=20, alpha1=0.1, alpha2=0.5).reset_index()
    data_historical_all = pd.concat([data_historical_all, df_historical], ignore_index=True)
    df_info_all = pd.concat([df_info_all, df_info], ignore_index=True)
    df_actions_all = pd.concat([df_actions_all, df_actions], ignore_index=True)
    df_quarterly_income_stmt_all = pd.concat([df_quarterly_income_stmt_all, df_quarterly_income_stmt], ignore_index=True)
    df_quarterly_balance_sheet_all = pd.concat([df_quarterly_balance_sheet_all, df_quarterly_balance_sheet], ignore_index=True)
    df_quarterly_cashflow_all = pd.concat([df_quarterly_cashflow_all, df_quarterly_cashflow], ignore_index=True)
    df_recommendations_summary_all = pd.concat([df_recommendations_summary_all, df_recommendations_summary], ignore_index=True)
    df_upgrades_downgrades_all = pd.concat([df_upgrades_downgrades_all, df_upgrades_downgrades], ignore_index=True)
    df_get_earnings_dates_all = pd.concat([df_get_earnings_dates_all, df_get_earnings_dates], ignore_index=True)
    df_news_all = pd.concat([df_news_all, df_news], ignore_index=True)

NVDA

[*********************100%%**********************]  1 of 1 completed

TSLA

[*********************100%%**********************]  1 of 1 completed

MSFT

[*********************100%%**********************]  1 of 1 completed

AMZN

[*********************100%%**********************]  1 of 1 completed

AAPL

[*********************100%%**********************]  1 of 1 completed

META

[*********************100%%**********************]  1 of 1 completed

GOOG

[*********************100%%**********************]  1 of 1 completed

In [7]:
df_info_all

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,returnOnEquity,freeCashflow,operatingCashflow,earningsGrowth,revenueGrowth,grossMargins,ebitdaMargins,operatingMargins,financialCurrency,trailingPegRatio
0,2788 San Tomas Expressway,Santa Clara,CA,95051,United States,408 486 2000,https://www.nvidia.com,Semiconductors,semiconductors,Semiconductors,...,1.15658,29269749760,40524001280,6.293,2.621,0.75286,0.61768,0.64925,USD,1.3727
1,1 Tesla Road,Austin,TX,78725,United States,512 516 8177,https://www.tesla.com,Auto Manufacturers,auto-manufacturers,Auto Manufacturers,...,0.23736,-633124992,10984999936,-0.534,-0.087,0.17779,0.12945,0.05497,USD,3.1645
2,One Microsoft Way,Redmond,WA,98052-6399,United States,425 882 8080,https://www.microsoft.com,Software - Infrastructure,software-infrastructure,Software - Infrastructure,...,0.38488,61497999360,110122999808,0.200,0.170,0.69894,0.52912,0.44588,USD,2.0468
3,410 Terry Avenue North,Seattle,WA,98109-5210,United States,206 266 1000,https://www.aboutamazon.com,Internet Retail,internet-retail,Internet Retail,...,0.20305,57269751808,99146997760,2.167,0.125,0.47594,0.16354,0.10681,USD,1.8831
4,One Apple Park Way,Cupertino,CA,95014,United States,408 996 1010,https://www.apple.com,Consumer Electronics,consumer-electronics,Consumer Electronics,...,1.47250,84726874112,110563000320,0.007,-0.043,0.45586,0.33968,0.30743,USD,2.2798
5,1 Meta Way,Menlo Park,CA,94025,United States,650 543 4800,https://investor.fb.com,Internet Content & Information,internet-content-information,Internet Content & Information,...,0.33361,35132125184,76360998912,1.141,0.273,0.81496,0.47962,0.38579,USD,1.0791
6,1600 Amphitheatre Parkway,Mountain View,CA,94043,United States,650 253 0000,https://abc.xyz,Internet Content & Information,internet-content-information,Internet Content & Information,...,0.29764,55064125440,107084996608,0.609,0.154,0.57466,0.34488,0.32516,USD,1.5673

In [8]:
df_actions_all

                         Date  Dividends  Stock Splits symbol
0   2000-06-27 00:00:00-04:00    0.00000      2.000000   NVDA
1   2001-09-10 00:00:00-04:00    0.00000      2.000000   NVDA
2   2006-04-07 00:00:00-04:00    0.00000      2.000000   NVDA
3   2007-09-11 00:00:00-04:00    0.00000      1.500000   NVDA
4   2012-11-20 00:00:00-05:00    0.01875      0.000000   NVDA
..                        ...        ...           ...    ...
235 2024-05-10 00:00:00-04:00    0.25000      0.000000   AAPL
236 2024-02-21 00:00:00-05:00    0.50000      0.000000   META
237 2014-03-27 00:00:00-04:00    0.00000      2.002000   GOOG
238 2015-04-27 00:00:00-04:00    0.00000      1.002746   GOOG
239 2022-07-18 00:00:00-04:00    0.00000     20.000000   GOOG

[240 rows x 4 columns]

In [9]:
df_quarterly_income_stmt_all

,index,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,...,Minority Interests,Write Off,Gain On Sale Of Security,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Earnings From Equity Interest Net Of Tax,Other Operating Expenses,Total Other Finance Cost,Earnings From Equity Interest
0,2024-04-30,0.0,0.139,17753000000.0,NaN,NaN,14881000000.0,410000000.0,5638000000.0,17753000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-31,0.0,0.129094,14556000000.0,0.0,0.0,12285000000.0,387000000.0,5312000000.0,14556000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-31,0.0,0.122,10957000000.0,0.0,0.0,9243000000.0,372000000.0,4720000000.0,10957000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-31,0.0,0.114,7411000000.0,0.0,0.0,6188000000.0,365000000.0,4045000000.0,7411000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-04-30,0.0,0.075,2659000000.0,0.0,0.0,2043000000.0,384000000.0,2544000000.0,2659000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-01-31,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-03-31,0.0,0.26,2875000000.0,NaN,NaN,1129000000.0,1246000000.0,17605000000.0,2875000000.0,...,-15000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2023-12-31,0.0,0.21,3484000000.0,0.0,0.0,7930000000.0,1232000000.0,20729000000.0,3484000000.0,...,-13000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-09-30,0.0,0.08,3318000000.0,0.0,0.0,1853000000.0,1235000000.0,19172000000.0,3318000000.0,...,-25000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-06-30,0.0,0.11,4119000000.0,0.0,0.0,2703000000.0,1154000000.0,20394000000.0,4119000000.0,...,89000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-03-31,0.0,0.09,3875000000.0,NaN,NaN,2513000000.0,1046000000.0,18818000000.0,3875000000.0,...,-26000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2022-12-31,NaN,NaN,NaN,-34000000.0,-34000000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2022-09-30,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2024-03-31,-33660000.0,0.18,33741000000.0,-187000000.0,-187000000.0,21939000000.0,6027000000.0,18505000000.0,33554000000.0,...,NaN,17000000.0,-170000000.0,6207000000.0,1912000000.0,1912000000.0,NaN,NaN,NaN,NaN
14,2023-12-31,-29160000.0,0.18,33556000000.0,-162000000.0,-162000000.0,21870000000.0,5959000000.0,19623000000.0,33394000000.0,...,NaN,161000000.0,-1000000.0,6246000000.0,1977000000.0,1977000000.0,NaN,NaN,NaN,NaN
15,2023-09-30,-20700000.0,0.18,31845000000.0,-115000000.0,-115000000.0,22291000000.0,3921000000.0,16302000000.0,31730000000.0,...,NaN,NaN,-115000000.0,5187000000.0,1474000000.0,1474000000.0,NaN,NaN,NaN,NaN
16,2023-06-30,20855987.382214,0.187892,28972000000.0,111000000.0,111000000.0,20081000000.0,3874000000.0,16795000000.0,29083000000.0,...,NaN,NaN,141000000.0,6204000000.0,2197000000.0,2197000000.0,NaN,NaN,NaN,NaN
17,2023-03-31,30780000.0,0.19,26556000000.0,162000000.0,162000000.0,18299000000.0,3549000000.0,16128000000.0,26718000000.0,...,NaN,0.0,162000000.0,5750000000.0,1643000000.0,1643000000.0,NaN,NaN,NaN,NaN
18,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2024-03-31,-460792960.024648,0.190018,27736000000.0,-2425000000.0,-2425000000.0,10431000000.0,11684000000.0,115374000000.0,25311000000.0,...,NaN,NaN,-2425000000.0,9662000000.0,2742000000.0,2742000000.0,-85000000.0,228000000.0,NaN,NaN
20,2023-12-31,60407715.914073,0.223732,27949000000.0,270000000.0,270000000.0,10624000000.0,13820000000.0,140686000000.0,28219000000.0,...,NaN,NaN,270000000.0,12902000000.0,3010000000.0,3010000000.0,0.0,154000000.0,NaN,NaN
21,2023-09-30,204700303.552383,0.189187,24044000000.0,1082000000.0,1082000000.0,9879000000.0,12131000000.0,118539000000.0,25126000000.0,...,NaN,NaN,1082000000.0,10551000000.0,2561000000.0,2561000000.0,-4000000.0,244000000.0,NaN,NaN
22,2023-06-30,10418088.060294,0.106307,19894000000.0,98000000.0,98000000.0,6750000000.0,11589000000.0,112609000000.0,19992000000.0,...,NaN,NaN,98000000.0,10745000000.0,3202000000.0,3202000000.0,-9000000.0,146000000.0,NaN,NaN
23,2023-03-31,-77101238.164603,0.230153,16400000000.0,-335000000.0,-335000000.0,3172000000.0,11123000000.0,109146000000.0,16065000000.0,...,NaN,NaN,-335000000.0,10172000000.0,3043000000.0,3043000000.0,1000000.0,223000000.0,NaN,NaN
24,2024-03-31,0.0,0.158,30736000000.0,NaN,NaN,23636000000.0,2836000000.0,48482000000.0,30736000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2023-12-31,0.0,0.159,43221000000.0,NaN,NaN,33916000000.0,2848000000.0,64720000000.0,43221000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2023-09-30,0.0,0.149715,30653000000.0,NaN,NaN,22956000000.0,2653000000.0,49071000000.0,30653000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2023-06-30,0.0,0.125,26783000000.0,NaN,NaN,19881000000.0,3052000000.0,45384000000.0,26783000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2023-03-31,0.0,0.149,31216000000.0,NaN,NaN,24160000000.0,2898000000.0,52860000000.0,31216000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2024-03-31,-32560000.0,0.22,17832000000.0,-148000000.0,-148000000.0,12369000000.0,3374000000.0,6640000000.0,17684000000.0,...,NaN,NaN,-148000000.0,2564000000.0,3455000000.0,3455000000.0,NaN,NaN,-55000000.0,NaN
32,2023-12-31,-10126137.918724,0.166002,20176000000.0,-61000000.0,-61000000.0,14017000000.0,3172000000.0,7695000000.0,20115000000.0,...,NaN,NaN,-61000000.0,3226000000.0,2289000000.0,2289000000.0,NaN,NaN,-32000000.0,NaN
33,2023-09-30,-16660000.0,0.17,17116000000.0,-98000000.0,-98000000.0,11583000000.0,2859000000.0,6210000000.0,17018000000.0,...,NaN,NaN,-98000000.0,2877000000.0,2070000000.0,2070000000.0,NaN,NaN,25000000.0,NaN
34,2023-06-30,-23200000.0,0.16,12177000000.0,-145000000.0,-145000000.0,7788000000.0,2623000000.0,5945000000.0,12032000000.0,...,NaN,NaN,-145000000.0,3154000000.0,4164000000.0,4164000000.0,NaN,NaN,161000000.0,NaN
35,2023-03-31,-8190000.0,0.13,9949000000.0,-63000000.0,-63000000.0,5709000000.0,2524000000.0,6108000000.0,9886000000.0,...,NaN,NaN,-63000000.0,3044000000.0,2885000000.0,2885000000.0,NaN,NaN,-5000000.0,NaN
36,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2024-03-31,253052000.0,0.164,30279000000.0,1543000000.0,1543000000.0,23662000000.0,3413000000.0,33712000000.0,31822000000.0,...,NaN,NaN,1543000000.0,6426000000.0,3026000000.0,3026000000.0,NaN,NaN,NaN,-26000000.0
39,2023-12-31,3356955.595609,0.152589,26022000000.0,22000000.0,22000000.0,20687000000.0,1563000000.0,37575000000.0,26044000000.0,...,NaN,NaN,22000000.0,7719000000.0,5206000000.0,5206000000.0,NaN,NaN,NaN,-256000000.0
40,2023-09-30,-83780000.0,0.071,26293000000.0,-1180000000.0,-1180000000.0,19689000000.0,3800000000.0,33229000000.0,25113000000.0,...,NaN,NaN,-1180000000.0,6884000000.0,3979000000.0,3979000000.0,NaN,NaN,NaN,-215000000.0
41,2023-06-30,-125097000.0,0.161,26671000000.0,-777000000.0,-777000000.0,18368000000.0,3948000000.0,31916000000.0,25894000000.0,...,NaN,NaN,-777000000.0,6781000000.0,3481000000.0,3481000000.0,NaN,NaN,NaN,-106000000.0
42,2023-03-31,-21798000.0,0.173,21046000000.0,-126000000.0,-126000000.0,15051000000.0,2635000000.0,30612000000.0,20920000000.0,...,NaN,NaN,-126000000.0,6533000000.0,3759000000.0,3759000000.0,NaN,NaN,NaN,-51000000.0

In [10]:
df_quarterly_balance_sheet_all

,index,Treasury Shares Number,Ordinary Shares Number,Share Issued,Net Debt,Total Debt,Tangible Book Value,Invested Capital,Working Capital,Net Tangible Assets,...,Hedging Assets Current,Allowance For Doubtful Accounts Receivable,Gross Accounts Receivable,Treasury Stock,Other Receivables,Investmentin Financial Assets,Available For Sale Securities,Other Payable,Dueto Related Parties Current,Taxes Receivable
0,2024-04-30,NaN,2459834197.0,2459834197.0,2123000000.0,11237000000.0,43703000000.0,58852000000.0,38506000000.0,43703000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-31,NaN,2464000000.0,2464000000.0,2429000000.0,11056000000.0,37436000000.0,52687000000.0,33714000000.0,37436000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-31,0.0,2466000000.0,2466000000.0,4187000000.0,11027000000.0,27584000000.0,42971000000.0,23557000000.0,27584000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-31,NaN,2469000000.0,2469000000.0,3922000000.0,10954000000.0,21676000000.0,37206000000.0,18463000000.0,21676000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-04-30,NaN,2473000000.0,2473000000.0,5875000000.0,12080000000.0,18549000000.0,35474000000.0,17623000000.0,18549000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-03-31,0.0,3188965775.0,3188965775.0,NaN,9911000000.0,63773000000.0,69252000000.0,21082000000.0,63773000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-12-31,0.0,3185000000.0,3185000000.0,NaN,9573000000.0,62019000000.0,67291000000.0,20868000000.0,62019000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-09-30,0.0,3179000000.0,3179000000.0,NaN,8187000000.0,52841000000.0,57170000000.0,18386000000.0,52841000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-06-30,NaN,3174000000.0,3174000000.0,NaN,5811000000.0,50481000000.0,52649000000.0,16283000000.0,50481000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2023-03-31,NaN,3169000000.0,3169000000.0,NaN,5574000000.0,47471000000.0,49806000000.0,15561000000.0,47471000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-03-31,NaN,7433000000.0,7433000000.0,45808000000.0,79911000000.0,105161000000.0,318594000000.0,28655000000.0,105161000000.0,...,8000000.0,-616000000.0,44645000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2023-12-31,NaN,7431612107.0,7431612107.0,56914000000.0,88374000000.0,89441000000.0,312487000000.0,26377000000.0,89441000000.0,...,35000000.0,-591000000.0,43422000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2023-09-30,NaN,7431000000.0,7431000000.0,NaN,84989000000.0,144029000000.0,292216000000.0,82794000000.0,144029000000.0,...,6000000.0,-512000000.0,37465000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2023-06-30,NaN,7432000000.0,7432000000.0,12533000000.0,59965000000.0,128971000000.0,253460000000.0,80108000000.0,128971000000.0,...,6000000.0,-650000000.0,49338000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2023-03-31,NaN,7437000000.0,7437000000.0,21648000000.0,60522000000.0,116864000000.0,242893000000.0,78198000000.0,116864000000.0,...,8000000.0,-495000000.0,37915000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2022-12-31,NaN,NaN,NaN,32470000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2024-03-31,515000000.0,10403000000.0,10918000000.0,NaN,134686000000.0,193891000000.0,274295000000.0,11024000000.0,193891000000.0,...,NaN,NaN,NaN,7837000000.0,3100000000.0,NaN,NaN,NaN,NaN,NaN
21,2023-12-31,515000000.0,10383000000.0,10898000000.0,NaN,135611000000.0,171399000000.0,260189000000.0,7434000000.0,171399000000.0,...,NaN,-1700000000.0,53953000000.0,7837000000.0,NaN,NaN,NaN,NaN,NaN,NaN
22,2023-09-30,515000000.0,10330000000.0,10845000000.0,11493000000.0,136989000000.0,160224000000.0,244071000000.0,-2219000000.0,160224000000.0,...,NaN,NaN,NaN,7837000000.0,2500000000.0,NaN,NaN,NaN,NaN,NaN
23,2023-06-30,515000000.0,10313000000.0,10828000000.0,13563000000.0,138914000000.0,145817000000.0,231694000000.0,-7756000000.0,145817000000.0,...,NaN,-1500000000.0,41425000000.0,7837000000.0,NaN,NaN,NaN,NaN,NaN,NaN
24,2023-03-31,515000000.0,10258000000.0,10773000000.0,17741000000.0,141351000000.0,131777000000.0,221610000000.0,-11349000000.0,131777000000.0,...,NaN,-1400000000.0,39046000000.0,7837000000.0,NaN,NaN,NaN,NaN,NaN,NaN
25,2022-12-31,NaN,NaN,NaN,13262000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,-1400000000.0,43760000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2022-09-30,NaN,NaN,NaN,23972000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2024-03-31,NaN,15337686000.0,15337686000.0,71895000000.0,104590000000.0,74194000000.0,178784000000.0,4594000000.0,74194000000.0,...,NaN,NaN,NaN,NaN,19313000000.0,95187000000.0,95187000000.0,NaN,NaN,NaN
28,2023-12-31,0.0,15460223000.0,15460223000.0,67280000000.0,108040000000.0,74100000000.0,182140000000.0,9719000000.0,74100000000.0,...,NaN,NaN,NaN,NaN,26908000000.0,99475000000.0,99475000000.0,NaN,NaN,NaN
29,2023-09-30,0.0,15550061000.0,15550061000.0,81123000000.0,111088000000.0,62146000000.0,173234000000.0,-1742000000.0,62146000000.0,...,NaN,NaN,NaN,NaN,31477000000.0,100544000000.0,100544000000.0,NaN,NaN,NaN
30,2023-06-30,NaN,15647868000.0,15647868000.0,80872000000.0,109280000000.0,60274000000.0,169554000000.0,-2304000000.0,60274000000.0,...,NaN,NaN,NaN,NaN,19637000000.0,104061000000.0,104061000000.0,NaN,NaN,NaN
31,2023-03-31,NaN,15723406000.0,15723406000.0,84928000000.0,109615000000.0,62158000000.0,171773000000.0,-7162000000.0,62158000000.0,...,NaN,NaN,NaN,NaN,17963000000.0,110461000000.0,110461000000.0,NaN,NaN,NaN
32,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2024-03-31,NaN,2537000000.0,2537000000.0,NaN,37633000000.0,128875000000.0,167916000000.0,47229000000.0,128875000000.0,...,NaN,NaN,NaN,NaN,NaN,6218000000.0,6218000000.0,NaN,NaN,NaN
35,2023-12-31,0.0,2561000000.0,2561000000.0,NaN,37234000000.0,131726000000.0,171553000000.0,53405000000.0,131726000000.0,...,NaN,NaN,NaN,NaN,NaN,6141000000.0,6141000000.0,NaN,863000000.0,NaN
36,2023-09-30,NaN,2571000000.0,2571000000.0,NaN,36217000000.0,121392000000.0,161256000000.0,47847000000.0,121392000000.0,...,NaN,NaN,NaN,NaN,NaN,6142000000.0,6142000000.0,NaN,770000000.0,NaN
37,2023-06-30,NaN,2573000000.0,2573000000.0,NaN,36218000000.0,112518000000.0,152415000000.0,39639000000.0,112518000000.0,...,NaN,NaN,NaN,NaN,NaN,6208000000.0,6208000000.0,NaN,772000000.0,NaN
38,2023-03-31,NaN,2566000000.0,2566000000.0,NaN,27575000000.0,103197000000.0,134720000000.0,27102000000.0,103197000000.0,...,NaN,NaN,NaN,NaN,NaN,6167000000.0,6167000000.0,NaN,885000000.0,NaN
39,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1117000000.0,NaN
40,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,975000000.0,NaN,NaN
41,2024-03-31,NaN,12381000000.0,12381000000.0,NaN,28059000000.0,263661000000.0,304717000000.0,88474000000.0,263661000000.0,...,NaN,-745000000.0,45297000000.0,NaN,NaN,33994000000.0,33994000000.0,NaN,NaN,NaN
42,2023-12-31,0.0,12460000000.0,12460000000.0,NaN,28504000000.0,254181000000.0,295249000000.0,89716000000.0,254181000000.0,...,NaN,-771000000.0,48735000000.0,NaN,NaN,31008000000.0,31008000000.0,NaN,NaN,NaN
43,2023-09-30,NaN,12541000000.0,12541000000.0,NaN,29046000000.0,242223000000.0,285069000000.0,90015000000.0,242223000000.0,...,NaN,-832000000.0,41852000000.0,NaN,NaN,30907000000.0,30907000000.0,NaN,NaN,NaN
44,2023-06-30,NaN,12629000000.0,12629000000.0,NaN,29114000000.0,235965000000.0,279005000000.0,91079000000.0,235965000000.0,...,NaN,-836000000.0,39640000000.0,NaN,NaN,31224000000.0,31224000000.0,NaN,NaN,NaN
45,2023-03-31,NaN,12722000000.0,12722000000.0,NaN,29121000000.0,229932000000.0,272755000000.0,93131000000.0,229932000000.0,...,NaN,-743000000.0,36779000000.0,NaN,NaN,31213000000.0,31213000000.0,NaN,NaN,NaN
46,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1479000000.0

In [11]:
df_quarterly_cashflow_all

,index,Free Cash Flow,Repurchase Of Capital Stock,Repayment Of Debt,Issuance Of Debt,Capital Expenditure,Income Tax Paid Supplemental Data,End Cash Position,Beginning Cash Position,Changes In Cash,...,Issuance Of Capital Stock,Common Stock Issuance,Net Short Term Debt Issuance,Short Term Debt Issuance,Net Other Investing Changes,Interest Paid Supplemental Data,Short Term Debt Payments,Sale Of PPE,Amortization Cash Flow,Amortization Of Intangibles
0,2024-04-30,14976000000.0,-7740000000.0,NaN,NaN,-369000000.0,NaN,7587000000.0,7280000000.0,307000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-31,11245000000.0,-2659000000.0,0.0,NaN,-254000000.0,1873000000.0,7280000000.0,5519000000.0,1761000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-10-31,7054000000.0,-3807000000.0,0.0,NaN,-278000000.0,4348000000.0,5519000000.0,5882000000.0,-363000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-07-31,6059000000.0,-3067000000.0,NaN,NaN,-289000000.0,NaN,5882000000.0,5079000000.0,803000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-04-30,2663000000.0,0.0,NaN,NaN,-248000000.0,NaN,5079000000.0,3389000000.0,1690000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2023-01-31,NaN,NaN,0.0,0.0,NaN,32000000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2022-10-31,NaN,NaN,0.0,0.0,NaN,264000000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-03-31,-2535000000.0,NaN,-697000000.0,776000000.0,-2777000000.0,NaN,12464000000.0,17189000000.0,-4646000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-12-31,2063000000.0,NaN,-588000000.0,1405000000.0,-2307000000.0,NaN,17189000000.0,16590000000.0,453000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-09-30,849000000.0,NaN,-462000000.0,NaN,-2459000000.0,NaN,16590000000.0,15879000000.0,809000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2023-06-30,1005000000.0,NaN,-357000000.0,NaN,-2060000000.0,NaN,15879000000.0,16770000000.0,-797000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2023-03-31,440000000.0,NaN,-408000000.0,0.0,-2073000000.0,NaN,16770000000.0,16924000000.0,-204000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2022-12-31,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2022-09-30,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-03-31,20965000000.0,-4213000000.0,-11589000000.0,6352000000.0,-10952000000.0,NaN,19634000000.0,17305000000.0,2409000000.0,...,522000000.0,522000000.0,-3810000000.0,NaN,-1281000000.0,NaN,NaN,NaN,NaN,NaN
15,2023-12-31,9118000000.0,-4000000000.0,-2916000000.0,10773000000.0,-9735000000.0,NaN,17305000000.0,80452000000.0,-63219000000.0,...,261000000.0,261000000.0,-8490000000.0,NaN,1347000000.0,NaN,NaN,NaN,NaN,NaN
16,2023-09-30,20666000000.0,-4831000000.0,-1500000000.0,25765000000.0,-9917000000.0,NaN,80452000000.0,34704000000.0,45847000000.0,...,685000000.0,685000000.0,18692000000.0,18692000000.0,-982000000.0,NaN,NaN,NaN,NaN,NaN
17,2023-06-30,19827000000.0,-5704000000.0,-1000000000.0,NaN,-8943000000.0,NaN,34704000000.0,26562000000.0,8223000000.0,...,512000000.0,512000000.0,NaN,NaN,-269000000.0,NaN,NaN,NaN,NaN,NaN
18,2023-03-31,17834000000.0,-5509000000.0,0.0,0.0,-6607000000.0,NaN,26562000000.0,15646000000.0,10887000000.0,...,536000000.0,536000000.0,0.0,NaN,-1686000000.0,NaN,NaN,NaN,NaN,NaN
19,2022-12-31,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
21,2024-03-31,4064000000.0,0.0,-1504000000.0,338000000.0,-14925000000.0,458000000.0,73332000000.0,73890000000.0,-129000000.0,...,NaN,NaN,-66000000.0,338000000.0,NaN,407000000.0,-404000000.0,990000000.0,NaN,NaN
22,2023-12-31,27877000000.0,0.0,-7407000000.0,734000000.0,-14588000000.0,4197000000.0,73890000000.0,50081000000.0,23118000000.0,...,NaN,NaN,-5604000000.0,734000000.0,NaN,907000000.0,-6338000000.0,1235000000.0,NaN,NaN
23,2023-09-30,8738000000.0,0.0,-9100000000.0,216000000.0,-12479000000.0,2628000000.0,50081000000.0,50067000000.0,516000000.0,...,NaN,NaN,-7879000000.0,216000000.0,NaN,591000000.0,-8095000000.0,1181000000.0,NaN,NaN
24,2023-06-30,5021000000.0,0.0,-10861000000.0,4399000000.0,-11455000000.0,3735000000.0,50067000000.0,49734000000.0,264000000.0,...,NaN,NaN,-3242000000.0,4399000000.0,NaN,1072000000.0,-7641000000.0,1043000000.0,NaN,NaN
25,2023-03-31,-9419000000.0,0.0,-6369000000.0,12780000000.0,-14207000000.0,619000000.0,49734000000.0,54253000000.0,-4664000000.0,...,NaN,NaN,9177000000.0,12780000000.0,NaN,542000000.0,-3603000000.0,1137000000.0,NaN,NaN
26,2024-03-31,20694000000.0,-23205000000.0,-3148000000.0,NaN,-1996000000.0,7276000000.0,33921000000.0,41974000000.0,-8053000000.0,...,NaN,NaN,2000000.0,NaN,-445000000.0,NaN,2000000.0,NaN,NaN,NaN
27,2023-12-31,37503000000.0,-20139000000.0,-3984000000.0,NaN,-2392000000.0,7255000000.0,41974000000.0,30737000000.0,11237000000.0,...,NaN,NaN,-3984000000.0,NaN,-284000000.0,NaN,-3984000000.0,NaN,NaN,NaN
28,2023-09-30,19435000000.0,-21003000000.0,0.0,0.0,-2163000000.0,11659000000.0,30737000000.0,29898000000.0,839000000.0,...,NaN,NaN,1993000000.0,NaN,-584000000.0,1213000000.0,NaN,NaN,NaN,NaN
29,2023-06-30,24287000000.0,-17478000000.0,460000000.0,NaN,-2093000000.0,2126000000.0,29898000000.0,27129000000.0,2769000000.0,...,NaN,NaN,1989000000.0,NaN,-506000000.0,717000000.0,NaN,NaN,NaN,NaN
30,2023-03-31,25644000000.0,-19594000000.0,-1996000000.0,NaN,-2916000000.0,4066000000.0,27129000000.0,21974000000.0,5155000000.0,...,NaN,NaN,254000000.0,NaN,-106000000.0,1170000000.0,254000000.0,NaN,NaN,NaN
31,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,703000000.0,-8214000000.0,NaN,NaN,NaN
32,2022-09-30,NaN,NaN,NaN,495000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,955000000.0,NaN,NaN,NaN,NaN
33,2024-03-31,12846000000.0,-15008000000.0,-315000000.0,NaN,-6400000000.0,630000000.0,33284000000.0,42827000000.0,-9255000000.0,...,NaN,NaN,NaN,NaN,NaN,121000000.0,NaN,NaN,NaN,NaN
34,2023-12-31,11739000000.0,-5942000000.0,-307000000.0,0.0,-7665000000.0,4591000000.0,42827000000.0,37900000000.0,4531000000.0,...,NaN,NaN,NaN,NaN,-3000000.0,146000000.0,NaN,73000000.0,NaN,NaN
35,2023-09-30,13859000000.0,-3569000000.0,-267000000.0,0.0,-6543000000.0,509000000.0,37900000000.0,29804000000.0,8450000000.0,...,NaN,NaN,NaN,NaN,-10000000.0,120000000.0,NaN,47000000.0,NaN,NaN
36,2023-06-30,11074000000.0,-898000000.0,-220000000.0,NaN,-6235000000.0,1102000000.0,29804000000.0,12420000000.0,17398000000.0,...,NaN,NaN,NaN,NaN,-85000000.0,0.0,NaN,82000000.0,NaN,NaN
37,2023-03-31,7175000000.0,-9365000000.0,-264000000.0,NaN,-6823000000.0,405000000.0,12420000000.0,15596000000.0,-3261000000.0,...,NaN,NaN,NaN,NaN,75000000.0,182000000.0,NaN,19000000.0,NaN,NaN
38,2022-12-31,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2000000.0,NaN,NaN,55000000.0,NaN,NaN
39,2022-09-30,NaN,NaN,NaN,9921000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-191000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2024-03-31,16836000000.0,-15696000000.0,-3079000000.0,1982000000.0,-12012000000.0,NaN,24493000000.0,24048000000.0,570000000.0,...,NaN,NaN,NaN,NaN,101000000.0,NaN,NaN,NaN,NaN,NaN
41,2023-12-31,7896000000.0,-16191000000.0,-1929000000.0,1492000000.0,-11019000000.0,NaN,24048000000.0,30702000000.0,-6560000000.0,...,NaN,NaN,NaN,NaN,-66000000.0,NaN,NaN,NaN,NaN,NaN
42,2023-09-30,22601000000.0,-15787000000.0,-1414000000.0,1248000000.0,-8055000000.0,NaN,30702000000.0,25929000000.0,5124000000.0,...,NaN,NaN,NaN,NaN,-628000000.0,NaN,NaN,NaN,129000000.0,129000000.0
43,2023-06-30,21778000000.0,-14969000000.0,-1255000000.0,1123000000.0,-6888000000.0,NaN,25929000000.0,25924000000.0,31000000.0,...,NaN,NaN,NaN,NaN,-232000000.0,NaN,NaN,NaN,118000000.0,118000000.0
44,2023-03-31,17220000000.0,-14557000000.0,-6952000000.0,6927000000.0,-6289000000.0,NaN,25924000000.0,21879000000.0,3995000000.0,...,NaN,NaN,NaN,NaN,-125000000.0,NaN,NaN,NaN,126000000.0,126000000.0
45,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136000000.0,136000000.0
46,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113000000.0,113000000.0

In [12]:
df_recommendations_summary_all

   period  strongBuy  buy  hold  sell  strongSell symbol
0      0m          7   14    15     1           1   NVDA
1     -1m         20   34     4     0           0   NVDA
2     -2m         19   33     4     0           0   NVDA
3     -3m         12   21    12     2           0   NVDA
4      0m          4    4     8     6           1   TSLA
5     -1m          5   11    23     7           4   TSLA
6     -2m          5   12    21     6           4   TSLA
7     -3m         10   16    11     3           2   TSLA
8      0m         14   13     6     0           1   MSFT
9     -1m         23   32     3     0           0   MSFT
10    -2m         23   31     3     0           0   MSFT
11    -3m         20   27     6     0           0   MSFT
12     0m         15   28     3     1           0   AMZN
13    -1m         19   39     2     0           0   AMZN
14    -2m         18   38     2     0           0   AMZN
15    -3m         18   37     1     0           0   AMZN
16     0m         11   21     6     0           0   AAPL
17    -1m          9   17    14     2           0   AAPL
18    -2m         10   17    12     2           0   AAPL
19    -3m         10   24     7     1           0   AAPL
20     0m          0    0     0     0           0   META
21    -1m         21   33     7     1           0   META
22    -2m         20   33     7     2           0   META
23    -3m         19   32     6     2           0   META
24     0m          2    3     0     0           0   GOOG
25    -1m          6    7     3     0           0   GOOG
26    -2m          6    7     3     0           0   GOOG
27    -3m          5    4     2     0           0   GOOG

In [13]:
df_upgrades_downgrades_all

               GradeDate           Firm     ToGrade   FromGrade Action symbol
0    2024-05-23 17:17:04      Citigroup         Buy         Buy   main   NVDA
1    2024-05-23 17:02:18  Deutsche Bank        Hold        Hold   main   NVDA
2    2024-05-23 16:56:36   Craig-Hallum         Buy         Buy   main   NVDA
3    2024-05-23 16:40:24        Wedbush  Outperform  Outperform   main   NVDA
4    2024-05-23 15:45:18       TD Cowen         Buy         Buy   main   NVDA
...                  ...            ...         ...         ...    ...    ...
5206 2012-07-20 10:54:00  Deutsche Bank         Buy               main   GOOG
5207 2012-07-20 10:43:00      Benchmark        Hold               main   GOOG
5208 2012-07-17 13:33:00                 Outperform               main   GOOG
5209 2012-07-13 09:57:00        Wedbush     Neutral               init   GOOG
5210 2012-06-22 10:15:00      Citigroup         Buy               main   GOOG

[5211 rows x 6 columns]

In [14]:
df_get_earnings_dates_all

                Earnings Date  EPS Estimate  Reported EPS  Surprise(%) symbol
0   2025-06-26 12:00:00-04:00          5.57           NaN          NaN   NVDA
1   2025-05-20 16:00:00-04:00           NaN           NaN          NaN   NVDA
2   2025-02-19 16:00:00-05:00           NaN           NaN          NaN   NVDA
3   2024-11-19 16:00:00-05:00           NaN           NaN          NaN   NVDA
4   2024-08-21 06:00:00-04:00          6.33           NaN          NaN   NVDA
..                        ...           ...           ...          ...    ...
649 2015-10-22 16:00:00-04:00          0.36          0.37       0.0191   GOOG
650 2015-07-16 16:00:00-04:00          0.34          0.35       0.0366   GOOG
651 2015-04-23 16:00:00-04:00           NaN          6.57          NaN   GOOG
652 2015-01-29 16:00:00-05:00           NaN          6.88          NaN   GOOG
653 2014-10-16 16:00:00-04:00           NaN          6.35          NaN   GOOG

[654 rows x 5 columns]

In [15]:
df_news_all

,uuid,title,publisher,link,providerPublishTime,type,thumbnail,relatedTickers,symbol
0,87a0f0e5-7ebd-390d-a58d-2e22605357cc,Dow Jones Futures: Stocks End On Bullish Note;...,Investor's Business Daily,https://finance.yahoo.com/m/87a0f0e5-7ebd-390d...,1717244093,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""^GSPC"", ""^DJI"", ""COMP"", ""QCOM""]",NVDA
1,a34aba1b-401d-3fa5-bfff-9c906b6611ac,"Elon Musk Just Gave Nvidia Investors 100,000 R...",Motley Fool,https://finance.yahoo.com/m/a34aba1b-401d-3fa5...,1717243860,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA""]",NVDA
2,0fc24beb-6431-38d3-89ef-2a54a84970b7,2 Top Artificial Intelligence (AI) Stocks to B...,Motley Fool,https://finance.yahoo.com/m/0fc24beb-6431-38d3...,1717237800,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""AMD"", ""TSM""]",NVDA
3,937da7e8-a1da-368b-9a2f-f6cb79e4aa7f,Forget Nvidia's Stock Split: Here's a Much Bet...,Motley Fool,https://finance.yahoo.com/m/937da7e8-a1da-368b...,1717234920,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA""]",NVDA
4,72fad3b4-a13f-359a-a394-f4e7a77550be,Nvidia's 10-for-1 Stock Split: Everything You ...,Motley Fool,https://finance.yahoo.com/m/72fad3b4-a13f-359a...,1717233360,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""^GSPC""]",NVDA
5,019c2985-7b91-31c0-b9d9-2c2710ffe5fb,Is Super Micro Computer Stock a Buy Now?,Motley Fool,https://finance.yahoo.com/m/019c2985-7b91-31c0...,1717233300,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""SMCI"", ""NVDA""]",NVDA
6,4ce06999-bc14-360d-b16b-b66462f00799,Prediction: 2 Artificial Intelligence (AI) Sto...,Motley Fool,https://finance.yahoo.com/m/4ce06999-bc14-360d...,1717231440,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""NVDA"", ""GOOG"", ""^GSPC""]",NVDA
7,2ef85eb3-25e5-3b30-9851-8b516ab8cfbd,Nvidia Just Announced a 10-for-1 Stock Split i...,Motley Fool,https://finance.yahoo.com/m/2ef85eb3-25e5-3b30...,1717230600,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""NOW"", ""^GSPC""]",NVDA
8,b2cc747d-16b2-3857-a887-b67b1389b2df,"Toyota, Subaru, and Mazda Just Sent a Massive ...",Motley Fool,https://finance.yahoo.com/m/b2cc747d-16b2-3857...,1717230780,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""TM"", ""TSLA""]",TSLA
9,f75efe17-4086-3222-9ae0-7883c1d9b957,"38,784 Reasons I'm Avoiding Rivian Stock Like ...",Motley Fool,https://finance.yahoo.com/m/f75efe17-4086-3222...,1717229460,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""RIVN"", ""TSLA""]",TSLA
10,526cf9fa-8b6d-3449-8481-3bdbad5b76c7,"3 Stocks That Turned $10,000 Into More Than $1...",Motley Fool,https://finance.yahoo.com/m/526cf9fa-8b6d-3449...,1717225800,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""SMCI"", ""TSLA""]",TSLA
11,534ccdc3-3dff-33f9-a0c8-e91867fd0cf8,AP Top Extended Financial Headlines at 12:52 a...,Associated Press Finance,https://finance.yahoo.com/news/ap-top-extended...,1717214400,STORY,NaN,"[""TSLA""]",TSLA
12,f696a657-afed-317e-bb05-df64006dfc82,The Wall Street Whisperer Leading the Charge f...,The Wall Street Journal,https://finance.yahoo.com/m/f696a657-afed-317e...,1717203600,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""TSLA""]",TSLA
13,34bc1504-097d-357a-82a7-c94a18a90ab3,Tesla shareholder sues Musk for alleged $7.5 b...,Reuters,https://finance.yahoo.com/news/tesla-sharehold...,1717201415,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""TSLA""]",TSLA
14,02d73a49-0592-3ac7-9aba-84f3bda795b3,Nvidia Rolls On,Motley Fool,https://finance.yahoo.com/m/02d73a49-0592-3ac7...,1717198283,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""TSLA"", ""MKL"", ""CMG"", ""AMZN""]",TSLA
15,5d37b984-1cb7-3ea2-9f57-bbe19f0af573,Elon Musk slams Trump’s ‘trivial’ hush-money v...,Fortune,https://finance.yahoo.com/news/elon-musk-slams...,1717189482,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""TSLA""]",TSLA
16,1386a22a-f38f-3570-9b46-4c9875f7ffd8,Melinda French Gates’ mentor on lifting up women,Yahoo Finance Video,https://finance.yahoo.com/video/melinda-french...,1717243222,VIDEO,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""MSFT""]",MSFT
17,8aca446e-4c6b-3fe9-aa7e-7d632ee1e72d,My Top ETF to Buy the Dip in Slumping Software...,Motley Fool,https://finance.yahoo.com/m/8aca446e-4c6b-3fe9...,1717241400,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""CRM"", ""MSFT""]",MSFT
18,019dae08-7ca7-36a1-a8fd-64f967c78ccf,New AI battle adopts old price war strategy as...,South China Morning Post,https://finance.yahoo.com/news/ai-battle-adopt...,1717234200,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""MSFT"", ""BIDU"", ""BBAAY"", ""GOOG""]",MSFT
19,aeef2ce1-5dd7-31ec-8888-21b78cd5bc8d,Meet the Supercharged Growth Stock That's a Sh...,Motley Fool,https://finance.yahoo.com/m/aeef2ce1-5dd7-31ec...,1717229220,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META"", ""NVDA"", ""MSFT"", ""GOOG"", ""AAPL""]",MSFT
20,8e1db67e-84a5-3956-a4db-9579f25ecd8c,2 Millionaire-Maker Artificial Intelligence (A...,Motley Fool,https://finance.yahoo.com/m/8e1db67e-84a5-3956...,1717226400,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""MSFT""]",MSFT
21,a2b9ee3b-9d8f-38de-afc9-14c4a8a2c6c2,1 Unique S&P 500 ETF for Those Seeking Passive...,Motley Fool,https://finance.yahoo.com/m/a2b9ee3b-9d8f-38de...,1717226040,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""^GSPC"", ""JPM"", ""NVDA"", ""MSFT""]",MSFT
22,fff54018-196d-326d-92fc-f68ce227cfed,CISPE denies it is close to deal over antitrus...,Reuters,https://finance.yahoo.com/news/microsoft-pay-o...,1717213419,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""MSFT""]",MSFT
23,a64f355f-2a9a-3c34-9633-30e58ee31b99,AI Euphoria Disappears From Public Market,The Information,https://finance.yahoo.com/m/a64f355f-2a9a-3c34...,1717194605,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""MSFT""]",MSFT
24,a14707d4-483a-3eb8-9131-18ca5a75a746,These 3 Dow Stocks Are Set to Soar in 2024 and...,Motley Fool,https://finance.yahoo.com/m/a14707d4-483a-3eb8...,1717245000,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""V"", ""MCD"", ""^DJI""]",AMZN
25,c648b471-a8cf-3e8a-ab35-2c3b58555f5e,2 Colossal Growth Stocks to Buy in the New Bul...,Motley Fool,https://finance.yahoo.com/m/c648b471-a8cf-3e8a...,1717244100,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""TOST""]",AMZN
26,7ead5da5-807d-3c31-a79f-096edb39206f,Amazon Stock Finally Hit a Record High After 3...,Motley Fool,https://finance.yahoo.com/m/7ead5da5-807d-3c31...,1717236300,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN""]",AMZN
27,c4f7b575-daf2-3660-b8d6-e2f5d31ad1e5,2 Reasons to Buy Shopify Stock Like There's No...,Motley Fool,https://finance.yahoo.com/m/c4f7b575-daf2-3660...,1717232400,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""SHOP"", ""AMZN""]",AMZN
28,4ce06999-bc14-360d-b16b-b66462f00799,Prediction: 2 Artificial Intelligence (AI) Sto...,Motley Fool,https://finance.yahoo.com/m/4ce06999-bc14-360d...,1717231440,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""NVDA"", ""GOOG"", ""^GSPC""]",AMZN
29,44c09fb2-b353-3298-bfc2-b54dfb53c27c,Amazon (NASDAQ:AMZN): Prepping for Its Next De...,TipRanks,https://finance.yahoo.com/news/amazon-nasdaq-a...,1717214543,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN""]",AMZN
30,8630713b-9e6d-3624-8c49-fca1e69da656,The Biggest Supply Chain Company to Know,Insider Monkey,https://finance.yahoo.com/news/biggest-supply-...,1717210484,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""ORCL""]",AMZN
31,c646de61-beb6-389a-ab2e-6a5b50009650,The Advisers Helping Blue Origin’s CEO Reach N...,The Wall Street Journal,https://finance.yahoo.com/m/c646de61-beb6-389a...,1717203600,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN""]",AMZN
32,37ee4eab-3a7e-36e1-aa20-8e9dc5c8794e,"This ""Magnificent Seven"" Stock Generated $383 ...",Motley Fool,https://finance.yahoo.com/m/37ee4eab-3a7e-36e1...,1717240500,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AAPL""]",AAPL
33,e6f113f3-a008-37b3-95f8-bf1c186844c6,Should You Buy Apple Stock Before June 10?,Motley Fool,https://finance.yahoo.com/m/e6f113f3-a008-37b3...,1717229580,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AAPL""]",AAPL
34,aeef2ce1-5dd7-31ec-8888-21b78cd5bc8d,Meet the Supercharged Growth Stock That's a Sh...,Motley Fool,https://finance.yahoo.com/m/aeef2ce1-5dd7-31ec...,1717229220,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META"", ""NVDA"", ""MSFT"", ""GOOG"", ""AAPL""]",AAPL
35,f00aaa04-dd65-3ecd-a73d-4dc83f7efbfd,3 Reasons to be Bullish on Apple Stock (NASDAQ...,TipRanks,https://finance.yahoo.com/news/3-reasons-bulli...,1717210129,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AAPL""]",AAPL
36,5a9d494d-16e4-3497-a304-3e8f38863e6b,Nvidia Wants To Topple Apple. But Apple Takes ...,Investor's Business Daily,https://finance.yahoo.com/m/5a9d494d-16e4-3497...,1717185872,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""AAPL"", ""MSFT""]",AAPL
37,4205eaa9-f620-3a0b-a81a-0e82c7c9fd0b,Magnificent Seven Stocks: Nvidia Stock Extends...,Investor's Business Daily,https://finance.yahoo.com/m/4205eaa9-f620-3a0b...,1717185282,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""AAPL"", ""TSLA"", ""META"", ""MSFT""]",AAPL
38,1c4d779f-f449-3a99-a2ec-ad5231450b69,Implied Volatility Surging for Apple (AAPL) St...,Zacks,https://finance.yahoo.com/news/implied-volatil...,1717172100,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AAPL""]",AAPL
39,28f39dfa-74bc-3150-b59b-fcdbf89a8267,Apple Supplier Luxshare Accused of Illegal Ope...,Benzinga,https://finance.yahoo.com/news/apple-supplier-...,1717172058,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AAPL""]",AAPL
40,b22092b4-b839-4d65-b718-aa2896ec661a,Meta seeks to revitalize Facebook's image amon...,Yahoo Finance,https://finance.yahoo.com/news/meta-seeks-to-r...,1717244954,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META""]",META
41,8e3c0c3f-6633-3af0-a626-3e05aed8f64d,Meta Platforms' (NASDAQ:META) investors will b...,Simply Wall St.,https://finance.yahoo.com/news/meta-platforms-...,1717243225,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META""]",META
42,68a5f126-8d7a-31d2-ac79-791e442ad82d,3 S&P 500 Artificial Intelligence (AI) Stocks ...,Motley Fool,https://finance.yahoo.com/m/68a5f126-8d7a-31d2...,1717238700,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""GOOG"", ""^GSPC"", ""META"", ""TSM""]",META
43,cbab4b03-7be0-3b6d-bf66-fab336ecb5e7,4 Unforgettable Growth Stocks You'll Regret No...,Motley Fool,https://finance.yahoo.com/m/cbab4b03-7be0-3b6d...,1717232760,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""COMP"", ""OKTA"", ""SBUX"", ""META"", ""SQ""]",META
44,2e63ad79-97c7-3d10-8cb5-620f3d89c3e2,Mark Zuckerberg is quietly sitting on a shoppi...,Fortune,https://finance.yahoo.com/news/mark-zuckerberg...,1717232400,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META""]",META
45,aeef2ce1-5dd7-31ec-8888-21b78cd5bc8d,Meet the Supercharged Growth Stock That's a Sh...,Motley Fool,https://finance.yahoo.com/m/aeef2ce1-5dd7-31ec...,1717229220,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META"", ""NVDA"", ""MSFT"", ""GOOG"", ""AAPL""]",META
46,e931f082-5fa2-3859-82ca-f5e153efa9a1,Meta's Facebook says it is attracting most you...,Reuters,https://finance.yahoo.com/news/metas-facebook-...,1717186312,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META""]",META
47,4205eaa9-f620-3a0b-a81a-0e82c7c9fd0b,Magnificent Seven Stocks: Nvidia Stock Extends...,Investor's Business Daily,https://finance.yahoo.com/m/4205eaa9-f620-3a0b...,1717185282,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NVDA"", ""AAPL"", ""TSLA"", ""META"", ""MSFT""]",META
48,eeee122c-f77d-3e6b-b0a4-d468b6328f3e,2 Growth Stocks to Buy and Hold Forever,Motley Fool,https://finance.yahoo.com/m/eeee122c-f77d-3e6b...,1717240140,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""NFLX"", ""ROKU"", ""GOOG""]",GOOG
49,68a5f126-8d7a-31d2-ac79-791e442ad82d,3 S&P 500 Artificial Intelligence (AI) Stocks ...,Motley Fool,https://finance.yahoo.com/m/68a5f126-8d7a-31d2...,1717238700,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""GOOG"", ""^GSPC"", ""META"", ""TSM""]",GOOG
50,7ebfbf63-ec36-3b4f-936f-18f460671a71,U.S. Companies Paid a Record $164.3 Billion in...,Motley Fool,https://finance.yahoo.com/m/7ebfbf63-ec36-3b4f...,1717234620,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""SCHW"", ""^GSPC"", ""GOOG""]",GOOG
51,019dae08-7ca7-36a1-a8fd-64f967c78ccf,New AI battle adopts old price war strategy as...,South China Morning Post,https://finance.yahoo.com/news/ai-battle-adopt...,1717234200,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""MSFT"", ""BIDU"", ""BBAAY"", ""GOOG""]",GOOG
52,4ce06999-bc14-360d-b16b-b66462f00799,Prediction: 2 Artificial Intelligence (AI) Sto...,Motley Fool,https://finance.yahoo.com/m/4ce06999-bc14-360d...,1717231440,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""AMZN"", ""NVDA"", ""GOOG"", ""^GSPC""]",GOOG
53,aeef2ce1-5dd7-31ec-8888-21b78cd5bc8d,Meet the Supercharged Growth Stock That's a Sh...,Motley Fool,https://finance.yahoo.com/m/aeef2ce1-5dd7-31ec...,1717229220,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""META"", ""NVDA"", ""MSFT"", ""GOOG"", ""AAPL""]",GOOG
54,5f8217b2-a68e-337e-ad6b-5bc711925d2d,Google Cloud Lays Off Some Sales Staff,The Information,https://finance.yahoo.com/m/5f8217b2-a68e-337e...,1717196699,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""GOOG""]",GOOG
55,a9a58983-8bb9-3d68-bda4-15601f0125e3,The Cheapest AI Stocks to Buy Now,Zacks,https://finance.yahoo.com/news/cheapest-ai-sto...,1717191600,STORY,"{""resolutions"": [{""url"": ""https://s.yimg.com/u...","[""SMCI"", ""GOOG"", ""MOD"", ""MSFT"", ""NVDA""]",GOOG

In [16]:
data_historical_all

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,RSI,...,SMA-20,EMA_0.1,EMA_0.5,SMA-3-3_shift_1d,SMA-20-20_shift_1d,signal,log_return_buy_n_hold,log_return_trend_follow,action,symbol
0,1999-01-22,0.437500,0.488281,0.388021,0.410156,0.376237,271468800,0.0,0.0,NaN,...,0.376237,0.376237,0.376237,NaN,NaN,0,NaN,NaN,NaN,NVDA
1,1999-01-25,0.442708,0.458333,0.410156,0.453125,0.415653,51048000,0.0,0.0,NaN,...,0.395945,0.380179,0.395945,0.376237,0.376237,0,0.099630,0.000000,0.0,NVDA
2,1999-01-26,0.458333,0.467448,0.411458,0.417969,0.383404,34320000,0.0,0.0,NaN,...,0.391764,0.380501,0.389674,0.395945,0.395945,0,-0.080761,-0.000000,0.0,NVDA
3,1999-01-27,0.419271,0.429688,0.395833,0.416667,0.382210,24436800,0.0,0.0,NaN,...,0.389376,0.380672,0.385942,0.391764,0.391764,0,-0.003120,-0.000000,0.0,NVDA
4,1999-01-28,0.416667,0.419271,0.412760,0.415365,0.381015,22752000,0.0,0.0,NaN,...,0.387704,0.380706,0.383479,0.393755,0.389376,1,-0.003130,-0.003130,1.0,NVDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45285,2024-05-24,176.520004,177.304001,175.199997,176.330002,176.330002,11400600,0.0,0.0,62.914310,...,172.410999,172.484547,176.467544,177.533330,172.278999,1,0.007228,0.007228,0.0,GOOG
45286,2024-05-28,175.740005,178.509995,175.679993,178.020004,178.020004,15655300,0.0,0.0,65.260999,...,172.917000,173.038093,177.243774,176.463333,172.410999,1,0.009539,0.009539,0.0,GOOG
45287,2024-05-29,176.809998,178.229996,176.259995,177.399994,177.399994,15023800,0.0,0.0,63.669248,...,173.555000,173.474283,177.321884,176.470001,172.917000,1,-0.003489,-0.003489,0.0,GOOG
45288,2024-05-30,176.690002,176.690002,173.229996,173.559998,173.559998,18844000,0.0,0.0,54.760696,...,173.954499,173.482855,175.440941,177.250000,173.555000,1,-0.021884,-0.021884,0.0,GOOG
45289,2024-05-31,173.399994,174.419998,170.970001,173.960007,173.960007,28078300,0.0,0.0,55.459818,...,174.229499,173.530570,174.700474,176.326665,173.954499,1,0.002302,0.002302,0.0,GOOG

# Save to AWS RDS

In [17]:
# Define the connection URL
# DATABASE_URL = "mysql+mysqlconnector://root:Lxy930719@localhost/finance"
DATABASE_URL = "mysql+mysqlconnector://lxy:Lxy930719~@mydb.cvgm8e2kwp95.us-east-1.rds.amazonaws.com/finance"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [32]:
tables = [
    df_info_all,
    df_actions_all,
    df_quarterly_income_stmt_all,
    df_quarterly_balance_sheet_all,
    df_quarterly_cashflow_all,
    df_recommendations_summary_all,
    df_upgrades_downgrades_all,
    df_get_earnings_dates_all,
    df_news_all,
    data_historical_all
    ]
table_names = [
    'stock_company_info',
    'stock_actions',
    'stock_quarterly_income_stmt',
    'stock_quarterly_balance_sheet',
    'stock_quarterly_cashflow',
    'stock_recommendations_summary',
    'stock_upgrades_downgrades',
    'stock_get_earnings_dates',
    'stock_news',
    'stock_data_historical'
]

In [19]:
# Insert dataframes into tables
for table_name, df in zip(table_names, tables):
    try:
        # Write the DataFrame to the MySQL table
        df.to_sql(table_name, engine, if_exists='replace', index=False)
        print(f"Data inserted into table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error inserting data into table '{table_name}': {e}")

Data inserted into table 'stock_company_info' successfully.
Data inserted into table 'stock_actions' successfully.
Data inserted into table 'stock_quarterly_income_stmt' successfully.
Data inserted into table 'stock_quarterly_balance_sheet' successfully.
Data inserted into table 'stock_quarterly_cashflow' successfully.
Data inserted into table 'stock_recommendations_summary' successfully.
Data inserted into table 'stock_upgrades_downgrades' successfully.
Data inserted into table 'stock_get_earnings_dates' successfully.
Data inserted into table 'stock_news' successfully.
Data inserted into table 'stock_data_historical' successfully.

# Save to local csv

In [35]:
for table_name, df in zip(table_names, tables):
    try:
        df.to_csv(f'./result/{table_name}.csv', index=False)
        print(f"Data saved in excel table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error saved in excel table '{table_name}': {e}")

Data saved in excel table 'stock_company_info' successfully.
Data saved in excel table 'stock_actions' successfully.
Data saved in excel table 'stock_quarterly_income_stmt' successfully.
Data saved in excel table 'stock_quarterly_balance_sheet' successfully.
Data saved in excel table 'stock_quarterly_cashflow' successfully.
Data saved in excel table 'stock_recommendations_summary' successfully.
Data saved in excel table 'stock_upgrades_downgrades' successfully.
Data saved in excel table 'stock_get_earnings_dates' successfully.
Data saved in excel table 'stock_news' successfully.
Data saved in excel table 'stock_data_historical' successfully.