In [1]:
import sys
import pandas as pd
from openbb import obb
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import inspect
import yfinance as yf
import plotly
import plotly.graph_objects as go

In [2]:
# check environment
print(sys.prefix)
print(sys.executable)

c:\Users\xingyu.liu\Documents\project\finance\.venv
c:\Users\xingyu.liu\Documents\project\finance\.venv\Scripts\python.exe

In [13]:
end_date = pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d')
start_date = '1900-01-01'
interval = '1d'

In [3]:
# parameters
ticker = 'NVDA'
ticker_obj = yf.Ticker(ticker)
ticker_obj

yfinance.Ticker object <NVDA>

In [6]:
ticker_obj.info

{'address1': '2788 San Tomas Expressway',
 'city': 'Santa Clara',
 'state': 'CA',
 'zip': '95051',
 'country': 'United States',
 'phone': '408 486 2000',
 'website': 'https://www.nvidia.com',
 'industry': 'Semiconductors',
 'industryKey': 'semiconductors',
 'industryDisp': 'Semiconductors',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': "NVIDIA Corporation provides graphics and compute and networking solutions in the United States, Taiwan, China, Hong Kong, and internationally. The Graphics segment offers GeForce GPUs for gaming and PCs, the GeForce NOW game streaming service and related infrastructure, and solutions for gaming platforms; Quadro/NVIDIA RTX GPUs for enterprise workstation graphics; virtual GPU or vGPU software for cloud-based visual and virtual computing; automotive platforms for infotainment systems; and Omniverse software for building and operating metaverse and 3D internet applications. The Compute & Networking segment comprises Data Center computing platforms and end-to-end networking platforms, including Quantum for InfiniBand and Spectrum for Ethernet; NVIDIA DRIVE automated-driving platform and automotive development agreements; Jetson robotics and other embedded platforms; NVIDIA AI Enterprise and other software; and DGX Cloud software and services. The company's products are used in gaming, professional visualization, data center, and automotive markets. It sells its products to original equipment manufacturers, original device manufacturers, system integrators and distributors, independent software vendors, cloud service providers, consumer internet companies, add-in board manufacturers, distributors, automotive manufacturers and tier-1 automotive suppliers, and other ecosystem participants. NVIDIA Corporation was incorporated in 1993 and is headquartered in Santa Clara, California.",
 'fullTimeEmployees': 29600,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Jen-Hsun  Huang',
   'age': 60,
   'title': 'Co-Founder, CEO, President & Director',
   'yearBorn': 1963,
   'fiscalYear': 2024,
   'totalPay': 7491487,
   'exercisedValue': 217327152,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Colette M. Kress',
   'age': 56,
   'title': 'Executive VP & CFO',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 1510765,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Debora  Shoquist',
   'age': 68,
   'title': 'Executive Vice President of Operations',
   'yearBorn': 1955,
   'fiscalYear': 2024,
   'totalPay': 1371266,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Timothy S. Teter',
   'age': 56,
   'title': 'Executive VP, General Counsel & Secretary',
   'yearBorn': 1967,
   'fiscalYear': 2024,
   'totalPay': 1360939,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ajay K. Puri',
   'age': 68,
   'title': 'Executive Vice President of Worldwide Field Operations',
   'yearBorn': 1955,
   'fiscalYear': 2024,
   'totalPay': 2295097,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris A. Malachowsky',
   'title': 'Co-Founder',
   'fiscalYear': 2024,
   'totalPay': 320000,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Donald F. Robertson Jr.',
   'age': 54,
   'title': 'VP & Chief Accounting Officer',
   'yearBorn': 1969,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Prof. William J. Dally Ph.D.',
   'age': 62,
   'title': 'Chief Scientist & Senior VP of Research',
   'yearBorn': 1961,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Simona  Jankowski C.F.A., J.D.',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Robert  Sherbin',
   'age': 64,
   'title': 'Vice President of Corporate Communications',
   'yearBorn': 1959,
   'fiscalYear': 2024,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 7,
 'boardRisk': 10,
 'compensationRisk': 1,
 'shareHolderRightsRisk': 8,
 'overallRisk': 8,
 'governanceEpochDate': 1716940800,
 'compensationAsOfEpochDate': 1735603200,
 'irWebsite': 'http://phx.corporate-ir.net/phoenix.zhtml?c=116466&p=irol-IRHome',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 1148.25,
 'open': 1146.17,
 'dayLow': 1096.72,
 'dayHigh': 1158.1915,
 'regularMarketPreviousClose': 1148.25,
 'regularMarketOpen': 1146.17,
 'regularMarketDayLow': 1096.72,
 'regularMarketDayHigh': 1158.1915,
 'dividendRate': 0.4,
 'dividendYield': 0.0004,
 'exDividendDate': 1718064000,
 'payoutRatio': 0.0094,
 'fiveYearAvgDividendYield': 0.13,
 'beta': 1.749,
 'trailingPE': 64.506714,
 'forwardPE': 30.93505,
 'volume': 47247647,
 'regularMarketVolume': 47247647,
 'averageVolume': 49573428,
 'averageVolume10days': 48362910,
 'averageDailyVolume10Day': 48362910,
 'bid': 1106.52,
 'ask': 1107.35,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 2718112153600,
 'fiftyTwoWeekLow': 373.56,
 'fiftyTwoWeekHigh': 1158.1915,
 'priceToSalesTrailing12Months': 34.07266,
 'fiftyDayAverage': 907.3924,
 'twoHundredDayAverage': 636.0635,
 'trailingAnnualDividendRate': 0.16,
 'trailingAnnualDividendYield': 0.00013934248,
 'currency': 'USD',
 'enterpriseValue': 2700063014912,
 'profitMargins': 0.53398,
 'floatShares': 2361722740,
 'sharesOutstanding': 2459830016,
 'sharesShort': 27890572,
 'sharesShortPriorMonth': 29075362,
 'sharesShortPreviousMonthDate': 1713139200,
 'dateShortInterest': 1715731200,
 'sharesPercentSharesOut': 0.0113,
 'heldPercentInsiders': 0.04318,
 'heldPercentInstitutions': 0.67496,
 'shortRatio': 0.64,
 'shortPercentOfFloat': 0.0117999995,
 'impliedSharesOutstanding': 2554579968,
 'bookValue': 19.96,
 'priceToBook': 55.360725,
 'lastFiscalYearEnd': 1706400000,
 'nextFiscalYearEnd': 1738022400,
 'mostRecentQuarter': 1714262400,
 'earningsQuarterlyGrowth': 6.284,
 'netIncomeToCommon': 42597998592,
 'trailingEps': 17.13,
 'forwardEps': 35.72,
 'pegRatio': 0.91,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1626739200,
 'enterpriseToRevenue': 33.846,
 'enterpriseToEbitda': 54.796,
 '52WeekChange': 1.8097744,
 'SandP52WeekChange': 0.22256601,
 'lastDividendValue': 0.04,
 'lastDividendDate': 1709596800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'NVDA',
 'underlyingSymbol': 'NVDA',
 'shortName': 'NVIDIA Corporation',
 'longName': 'NVIDIA Corporation',
 'firstTradeDateEpochUtc': 917015400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '7f5f6a07-b148-30f4-98a2-2caa3df2aed0',
 'messageBoardId': 'finmb_32307',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 1105.0,
 'targetHighPrice': 1400.0,
 'targetLowPrice': 478.4,
 'targetMeanPrice': 1131.16,
 'targetMedianPrice': 1200.0,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 47,
 'totalCash': 31438000128,
 'totalCashPerShare': 12.769,
 'ebitda': 49274998784,
 'totalDebt': 10990999552,
 'quickRatio': 2.877,
 'currentRatio': 3.529,
 'totalRevenue': 79773999104,
 'debtToEquity': 22.366,
 'revenuePerShare': 32.336,
 'returnOnAssets': 0.49103,
 'returnOnEquity': 1.15658,
 'freeCashflow': 29269749760,
 'operatingCashflow': 40524001280,
 'earningsGrowth': 6.293,
 'revenueGrowth': 2.621,
 'grossMargins': 0.75286,
 'ebitdaMargins': 0.61768,
 'operatingMargins': 0.64925003,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.3836}

In [7]:
ticker_obj.history_metadata

{'currency': 'USD',
 'symbol': 'NVDA',
 'exchangeName': 'NMS',
 'fullExchangeName': 'NasdaqGS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 917015400,
 'regularMarketTime': 1717099200,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 1105.0,
 'fiftyTwoWeekHigh': 1158.192,
 'fiftyTwoWeekLow': 1096.72,
 'regularMarketDayHigh': 1158.192,
 'regularMarketDayLow': 1096.72,
 'regularMarketVolume': 47247647,
 'chartPreviousClose': 1037.99,
 'previousClose': 1148.25,
 'scale': 3,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1717142400,
   'end': 1717162200,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1717162200,
   'end': 1717185600,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1717185600,
   'end': 1717200000,
   'gmtoffset': -14400}},
 'tradingPeriods':                                           pre_start                   pre_end  \
 Date
 2024-05-24 00:00:00-04:00 2024-05-24 04:00:00-04:00 2024-05-24 09:30:00-04:00
 2024-05-28 00:00:00-04:00 2024-05-28 04:00:00-04:00 2024-05-28 09:30:00-04:00
 2024-05-29 00:00:00-04:00 2024-05-29 04:00:00-04:00 2024-05-29 09:30:00-04:00
 2024-05-30 00:00:00-04:00 2024-05-30 04:00:00-04:00 2024-05-30 09:30:00-04:00
 2024-05-31 00:00:00-04:00 2024-05-31 04:00:00-04:00 2024-05-31 09:30:00-04:00

                                               start                       end  \
 Date
 2024-05-24 00:00:00-04:00 2024-05-24 09:30:00-04:00 2024-05-24 16:00:00-04:00
 2024-05-28 00:00:00-04:00 2024-05-28 09:30:00-04:00 2024-05-28 16:00:00-04:00
 2024-05-29 00:00:00-04:00 2024-05-29 09:30:00-04:00 2024-05-29 16:00:00-04:00
 2024-05-30 00:00:00-04:00 2024-05-30 09:30:00-04:00 2024-05-30 16:00:00-04:00
 2024-05-31 00:00:00-04:00 2024-05-31 09:30:00-04:00 2024-05-31 16:00:00-04:00

                                          post_start                  post_end
 Date
 2024-05-24 00:00:00-04:00 2024-05-24 16:00:00-04:00 2024-05-24 20:00:00-04:00
 2024-05-28 00:00:00-04:00 2024-05-28 16:00:00-04:00 2024-05-28 20:00:00-04:00
 2024-05-29 00:00:00-04:00 2024-05-29 16:00:00-04:00 2024-05-29 20:00:00-04:00
 2024-05-30 00:00:00-04:00 2024-05-30 16:00:00-04:00 2024-05-30 20:00:00-04:00
 2024-05-31 00:00:00-04:00 2024-05-31 16:00:00-04:00 2024-05-31 20:00:00-04:00  ,
 'dataGranularity': '1h',
 'range': '1wk',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [12]:
ticker_obj.actions

                           Dividends  Stock Splits
Date
2000-06-27 00:00:00-04:00    0.00000           2.0
2001-09-10 00:00:00-04:00    0.00000           2.0
2006-04-07 00:00:00-04:00    0.00000           2.0
2007-09-11 00:00:00-04:00    0.00000           1.5
2012-11-20 00:00:00-05:00    0.01875           0.0
2013-02-26 00:00:00-05:00    0.01875           0.0
2013-05-21 00:00:00-04:00    0.01875           0.0
2013-08-20 00:00:00-04:00    0.01875           0.0
2013-11-19 00:00:00-05:00    0.02125           0.0
2014-02-25 00:00:00-05:00    0.02125           0.0
2014-05-20 00:00:00-04:00    0.02125           0.0
2014-08-19 00:00:00-04:00    0.02125           0.0
2014-11-19 00:00:00-05:00    0.02125           0.0
2015-02-24 00:00:00-05:00    0.02125           0.0
2015-05-19 00:00:00-04:00    0.02450           0.0
2015-08-18 00:00:00-04:00    0.02450           0.0
2015-11-18 00:00:00-05:00    0.02875           0.0
2016-02-29 00:00:00-05:00    0.02875           0.0
2016-05-24 00:00:00-04:00    0.02875           0.0
2016-08-23 00:00:00-04:00    0.02875           0.0
2016-11-23 00:00:00-05:00    0.03500           0.0
2017-02-22 00:00:00-05:00    0.03500           0.0
2017-05-19 00:00:00-04:00    0.03500           0.0
2017-08-22 00:00:00-04:00    0.03500           0.0
2017-11-22 00:00:00-05:00    0.03750           0.0
2018-02-22 00:00:00-05:00    0.03750           0.0
2018-05-23 00:00:00-04:00    0.03750           0.0
2018-08-29 00:00:00-04:00    0.03750           0.0
2018-11-29 00:00:00-05:00    0.04000           0.0
2019-02-28 00:00:00-05:00    0.04000           0.0
2019-05-30 00:00:00-04:00    0.04000           0.0
2019-08-28 00:00:00-04:00    0.04000           0.0
2019-11-27 00:00:00-05:00    0.04000           0.0
2020-02-27 00:00:00-05:00    0.04000           0.0
2020-06-04 00:00:00-04:00    0.04000           0.0
2020-09-01 00:00:00-04:00    0.04000           0.0
2020-12-03 00:00:00-05:00    0.04000           0.0
2021-03-09 00:00:00-05:00    0.04000           0.0
2021-06-09 00:00:00-04:00    0.04000           0.0
2021-07-20 00:00:00-04:00    0.00000           4.0
2021-08-31 00:00:00-04:00    0.04000           0.0
2021-12-01 00:00:00-05:00    0.04000           0.0
2022-03-02 00:00:00-05:00    0.04000           0.0
2022-06-08 00:00:00-04:00    0.04000           0.0
2022-09-07 00:00:00-04:00    0.04000           0.0
2022-11-30 00:00:00-05:00    0.04000           0.0
2023-03-07 00:00:00-05:00    0.04000           0.0
2023-06-07 00:00:00-04:00    0.04000           0.0
2023-09-06 00:00:00-04:00    0.04000           0.0
2023-12-05 00:00:00-05:00    0.04000           0.0
2024-03-05 00:00:00-05:00    0.04000           0.0

In [18]:
ticker_obj.get_shares_full(start=None, end=None)

2023-04-10 00:00:00-04:00    2470000128
2023-05-04 00:00:00-04:00    2506249984
2023-05-05 00:00:00-04:00    2470000128
2023-05-10 00:00:00-04:00    2473129984
2023-05-13 00:00:00-04:00    2520689920
                                ...
2024-05-16 00:00:00-04:00    2459830016
2024-05-23 00:00:00-04:00    2459830016
2024-05-23 00:00:00-04:00    2471130112
2024-05-31 00:00:00-04:00    2459830016
2024-05-31 00:00:00-04:00    2554579968
Length: 66, dtype: int64

In [20]:
ticker_obj.quarterly_income_stmt

,2024-04-30,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.139,0.129094,0.122,0.114,0.075,NaN
Normalized EBITDA,17753000000.0,14556000000.0,10957000000.0,7411000000.0,2659000000.0,NaN
Total Unusual Items,NaN,0.0,0.0,0.0,0.0,0.0
Total Unusual Items Excluding Goodwill,NaN,0.0,0.0,0.0,0.0,0.0
Net Income From Continuing Operation Net Minority Interest,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Reconciled Depreciation,410000000.0,387000000.0,372000000.0,365000000.0,384000000.0,NaN
Reconciled Cost Of Revenue,5638000000.0,5312000000.0,4720000000.0,4045000000.0,2544000000.0,NaN
EBITDA,17753000000.0,14556000000.0,10957000000.0,7411000000.0,2659000000.0,NaN
EBIT,17343000000.0,14169000000.0,10585000000.0,7046000000.0,2275000000.0,NaN
Net Interest Income,295000000.0,231000000.0,171000000.0,122000000.0,84000000.0,NaN
Interest Expense,64000000.0,63000000.0,63000000.0,65000000.0,66000000.0,NaN
Interest Income,359000000.0,294000000.0,234000000.0,187000000.0,150000000.0,NaN
Normalized Income,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Net Income From Continuing And Discontinued Operation,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Total Expenses,9135000000.0,8489000000.0,7703000000.0,6707000000.0,5052000000.0,NaN
Total Operating Income As Reported,16909000000.0,13614000000.0,10417000000.0,6800000000.0,2140000000.0,NaN
Diluted Average Shares,2489000000.0,NaN,2494000000.0,2499000000.0,2490000000.0,2477000000.0
Basic Average Shares,2462000000.0,NaN,2468000000.0,2473000000.0,2470000000.0,2464000000.0
Diluted EPS,5.98,NaN,3.71,2.48,0.82,0.57
Basic EPS,6.04,NaN,3.75,2.5,0.83,0.57
Diluted NI Availto Com Stockholders,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Net Income Common Stockholders,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Net Income,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Net Income Including Noncontrolling Interests,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Net Income Continuous Operations,14881000000.0,12285000000.0,9243000000.0,6188000000.0,2043000000.0,NaN
Tax Provision,2398000000.0,1821000000.0,1279000000.0,793000000.0,166000000.0,NaN
Pretax Income,17279000000.0,14106000000.0,10522000000.0,6981000000.0,2209000000.0,NaN
Other Income Expense,75000000.0,261000000.0,-66000000.0,59000000.0,-15000000.0,NaN
Other Non Operating Income Expenses,75000000.0,261000000.0,-66000000.0,59000000.0,-15000000.0,NaN
Special Income Charges,NaN,0.0,0.0,0.0,0.0,0.0
Restructuring And Mergern Acquisition,NaN,0.0,0.0,0.0,0.0,0.0
Net Non Operating Interest Income Expense,295000000.0,231000000.0,171000000.0,122000000.0,84000000.0,NaN
Interest Expense Non Operating,64000000.0,63000000.0,63000000.0,65000000.0,66000000.0,NaN
Interest Income Non Operating,359000000.0,294000000.0,234000000.0,187000000.0,150000000.0,NaN
Operating Income,16909000000.0,13614000000.0,10417000000.0,6800000000.0,2140000000.0,NaN
Operating Expense,3497000000.0,3177000000.0,2983000000.0,2662000000.0,2508000000.0,NaN
Research And Development,2720000000.0,2465000000.0,2294000000.0,2040000000.0,1875000000.0,NaN
Selling General And Administration,777000000.0,712000000.0,689000000.0,622000000.0,633000000.0,NaN
Gross Profit,20406000000.0,16791000000.0,13400000000.0,9462000000.0,4648000000.0,NaN
Cost Of Revenue,5638000000.0,5312000000.0,4720000000.0,4045000000.0,2544000000.0,NaN
Total Revenue,26044000000.0,22103000000.0,18120000000.0,13507000000.0,7192000000.0,NaN
Operating Revenue,26044000000.0,22103000000.0,18120000000.0,13507000000.0,7192000000.0,NaN

In [21]:
ticker_obj.quarterly_balance_sheet

,2024-04-30,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2022-10-31
Treasury Shares Number,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,2459834197.0,2464000000.0,2466000000.0,2469000000.0,2473000000.0,NaN,NaN
Share Issued,2459834197.0,2464000000.0,2466000000.0,2469000000.0,2473000000.0,NaN,NaN
Net Debt,2123000000.0,2429000000.0,4187000000.0,3922000000.0,5875000000.0,NaN,NaN
Total Debt,11237000000.0,11056000000.0,11027000000.0,10954000000.0,12080000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Receivables,12365000000.0,9999000000.0,8309000000.0,7066000000.0,4080000000.0,NaN,NaN
Accounts Receivable,12365000000.0,9999000000.0,8309000000.0,7066000000.0,4080000000.0,NaN,NaN
Cash Cash Equivalents And Short Term Investments,31438000000.0,25984000000.0,18281000000.0,16023000000.0,15320000000.0,NaN,NaN
Other Short Term Investments,23851000000.0,18704000000.0,12762000000.0,10240000000.0,10241000000.0,NaN,NaN
Cash And Cash Equivalents,7587000000.0,7280000000.0,5519000000.0,5783000000.0,5079000000.0,NaN,NaN

In [22]:
ticker_obj.quarterly_cashflow

,2024-04-30,2024-01-31,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2022-10-31
Free Cash Flow,14976000000.0,11245000000.0,7054000000.0,6059000000.0,2663000000.0,NaN,NaN
Repurchase Of Capital Stock,-7740000000.0,-2659000000.0,-3807000000.0,-3067000000.0,0.0,NaN,NaN
Repayment Of Debt,NaN,0.0,0.0,NaN,NaN,0.0,0.0
Issuance Of Debt,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Capital Expenditure,-369000000.0,-254000000.0,-278000000.0,-289000000.0,-248000000.0,NaN,NaN
Income Tax Paid Supplemental Data,NaN,1873000000.0,4348000000.0,NaN,NaN,32000000.0,264000000.0
End Cash Position,7587000000.0,7280000000.0,5519000000.0,5882000000.0,5079000000.0,NaN,NaN
Beginning Cash Position,7280000000.0,5519000000.0,5882000000.0,5079000000.0,3389000000.0,NaN,NaN
Changes In Cash,307000000.0,1761000000.0,-363000000.0,803000000.0,1690000000.0,NaN,NaN
Financing Cash Flow,-9345000000.0,-3629000000.0,-4525000000.0,-5099000000.0,-380000000.0,NaN,NaN
Cash Flow From Continuing Financing Activities,-9345000000.0,-3629000000.0,-4525000000.0,-5099000000.0,-380000000.0,NaN,NaN
Net Other Financing Charges,-1792000000.0,-871000000.0,-777000000.0,-683000000.0,-527000000.0,NaN,NaN
Proceeds From Stock Option Exercised,285000000.0,0.0,156000000.0,1000000.0,246000000.0,NaN,NaN
Cash Dividends Paid,-98000000.0,-99000000.0,-97000000.0,-100000000.0,-99000000.0,NaN,NaN
Common Stock Dividend Paid,-98000000.0,NaN,NaN,NaN,-99000000.0,-98000000.0,-100000000.0
Net Common Stock Issuance,-7740000000.0,-2659000000.0,-3807000000.0,-3067000000.0,0.0,NaN,NaN
Common Stock Payments,-7740000000.0,-2659000000.0,-3807000000.0,-3067000000.0,0.0,NaN,NaN
Net Issuance Payments Of Debt,NaN,0.0,0.0,NaN,NaN,0.0,0.0
Net Long Term Debt Issuance,NaN,0.0,0.0,NaN,NaN,0.0,0.0
Long Term Debt Payments,NaN,0.0,0.0,NaN,NaN,0.0,0.0
Long Term Debt Issuance,NaN,NaN,NaN,NaN,NaN,0.0,0.0
Investing Cash Flow,-5693000000.0,-6109000000.0,-3170000000.0,-446000000.0,-841000000.0,NaN,NaN
Cash Flow From Continuing Investing Activities,-5693000000.0,-6109000000.0,-3170000000.0,-446000000.0,-841000000.0,NaN,NaN
Net Investment Purchase And Sale,-5150000000.0,-5855000000.0,-2892000000.0,-378000000.0,-289000000.0,NaN,NaN
Sale Of Investment,4153000000.0,1781000000.0,2890000000.0,2599000000.0,2512000000.0,NaN,NaN
Purchase Of Investment,-9303000000.0,-7636000000.0,-5782000000.0,-2977000000.0,-2801000000.0,NaN,NaN
Net Business Purchase And Sale,-174000000.0,0.0,0.0,221000000.0,-304000000.0,NaN,NaN
Purchase Of Business,-174000000.0,0.0,0.0,221000000.0,-304000000.0,NaN,NaN
Net PPE Purchase And Sale,-369000000.0,-254000000.0,-278000000.0,-289000000.0,-248000000.0,NaN,NaN
Purchase Of PPE,-369000000.0,-254000000.0,-278000000.0,-289000000.0,-248000000.0,NaN,NaN
Operating Cash Flow,15345000000.0,11499000000.0,7332000000.0,6348000000.0,2911000000.0,NaN,NaN
Cash Flow From Continuing Operating Activities,15345000000.0,11499000000.0,7332000000.0,6348000000.0,2911000000.0,NaN,NaN
Change In Working Capital,834000000.0,-1719000000.0,-2733000000.0,-174000000.0,904000000.0,NaN,NaN
Change In Other Current Liabilities,323000000.0,306000000.0,-28000000.0,131000000.0,105000000.0,NaN,NaN
Change In Payables And Accrued Expense,4180000000.0,1353000000.0,-1261000000.0,2764000000.0,700000000.0,NaN,NaN
Change In Accrued Expense,4202000000.0,1072000000.0,-1722000000.0,1986000000.0,689000000.0,NaN,NaN
Change In Payable,-22000000.0,281000000.0,461000000.0,778000000.0,11000000.0,NaN,NaN
Change In Account Payable,-22000000.0,281000000.0,461000000.0,778000000.0,11000000.0,NaN,NaN
Change In Prepaid Assets,-726000000.0,-1185000000.0,255000000.0,-377000000.0,-215000000.0,NaN,NaN
Change In Inventory,-577000000.0,-503000000.0,-456000000.0,295000000.0,566000000.0,NaN,NaN
Change In Receivables,-2366000000.0,-1690000000.0,-1243000000.0,-2987000000.0,-252000000.0,NaN,NaN
Changes In Account Receivables,-2366000000.0,-1690000000.0,-1243000000.0,-2987000000.0,-252000000.0,NaN,NaN
Other Non Cash Items,-145000000.0,-108000000.0,-68000000.0,-68000000.0,-34000000.0,NaN,NaN
Stock Based Compensation,1011000000.0,994000000.0,979000000.0,841000000.0,735000000.0,NaN,NaN
Deferred Tax,-1577000000.0,-78000000.0,-530000000.0,-746000000.0,-1135000000.0,NaN,NaN
Deferred Income Tax,-1577000000.0,-78000000.0,-530000000.0,-746000000.0,-1135000000.0,NaN,NaN
Depreciation Amortization Depletion,410000000.0,387000000.0,372000000.0,365000000.0,384000000.0,NaN,NaN
Depreciation And Amortization,410000000.0,387000000.0,372000000.0,365000000.0,384000000.0,NaN,NaN
Operating Gains Losses,-69000000.0,-262000000.0,69000000.0,-59000000.0,14000000.0,NaN,NaN
Gain Loss On Investment Securities,-69000000.0,-262000000.0,69000000.0,-59000000.0,14000000.0,NaN,NaN
Net Income From Continuing Operations,14881000000.0,12285000000.0,9243000000.0,6189000000.0,2043000000.0,NaN,NaN

In [23]:
ticker_obj.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   14    15     1           1
1    -1m         20   34     4     0           0
2    -2m         19   33     4     0           0
3    -3m         12   21    12     2           0

In [24]:
ticker_obj.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   14    15     1           1
1    -1m         20   34     4     0           0
2    -2m         19   33     4     0           0
3    -3m         12   21    12     2           0

In [25]:
ticker_obj.upgrades_downgrades

                                   Firm      ToGrade       FromGrade Action
GradeDate
2024-05-23 17:17:04           Citigroup          Buy             Buy   main
2024-05-23 17:02:18       Deutsche Bank         Hold            Hold   main
2024-05-23 16:56:36        Craig-Hallum          Buy             Buy   main
2024-05-23 16:40:24             Wedbush   Outperform      Outperform   main
2024-05-23 15:45:18            TD Cowen          Buy             Buy   main
...                                 ...          ...             ...    ...
2012-05-14 10:19:00           Jefferies         Hold                   main
2012-04-05 11:07:00   Cantor Fitzgerald          Buy                   init
2012-02-16 12:29:00  Evercore ISI Group  Underweight                   main
2012-02-16 11:34:00   B of A Securities      Neutral             Buy   down
2012-02-13 12:27:00         FBR Capital   Outperform  Market Perform     up

[757 rows x 4 columns]