In [1]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import inspect
import sys

In [2]:
print(sys.prefix)

c:\Users\xyxy0\OneDrive\Documents\Finance\.venv

In [3]:
print(sys.base_prefix)

c:\Program Files\Python310

In [5]:
# Define the connection URL
# DATABASE_URL = "mysql+mysqlconnector://root:Lxy930719@localhost/finance"
DATABASE_URL = "mysql+mysqlconnector://lxy:Lxy930719~@mydb.cvgm8e2kwp95.us-east-1.rds.amazonaws.com/finance"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [47]:
"""
# Define the metadata
metadata = MetaData()

# Define the table
tables = {
    'account' : Table(
        'account', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('account', String(255)),
        Column('date', Date),
        Column('value', Float),
        Column('currency', String(255)),
        schema = 'finance'
    ),

    'investment' : Table(
        'investment', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('type', String(255)),
        Column('name', String(255)),
        Column('date', Date),
        Column('value', Float),
        Column('currency', String(255)),
        Column('amount', Integer),
        Column('buyprice', Float),
        Column('other', String(255)),
        schema = 'finance'
    ),

    'cpf' : Table(
        'cpf', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('account', String(255)),
        Column('date', Date),
        Column('value', Float),
        Column('currency', String(255)),
        schema = 'finance'
    ),

    'fxr' : Table(
        'fxr', metadata,
        Column('id', Integer, primary_key=True, autoincrement=True),
        Column('date', Date),
        Column('cny/sgd', Float),
        Column('myr/sgd', Float),
        Column('sgd/usd', Float),
        schema = 'finance'
    )
}

try:
    inspector = inspect(engine)
    for table_name, table_obj in tables.items():
        if not inspector.has_table(table_name):
            # Create the table if it does not exist
            table_obj.create(engine)
            print(f"Table '{table_name}' created successfully.")
        else:
            print(f"Table '{table_name}' already exists.")
            
except SQLAlchemyError as e:
    print(f"Error: {e}")
"""

Table 'account' already exists.
Table 'investment' already exists.
Table 'cpf' already exists.
Table 'fxr' already exists.

In [6]:
df_account = pd.read_excel('finance.xlsx', sheet_name='account')
df_account['date'] = pd.to_datetime(df_account['date'])

In [7]:
df_investment = pd.read_excel('finance.xlsx', sheet_name='investment')
df_investment['date'] = pd.to_datetime(df_investment['date'])

In [8]:
df_cpf = pd.read_excel('finance.xlsx', sheet_name='cpf')
df_cpf['date'] = pd.to_datetime(df_cpf['date'])

In [9]:
df_fxr = pd.read_excel('finance.xlsx', sheet_name='fxr')
df_fxr['date'] = pd.to_datetime(df_fxr['date'])

In [10]:
tables = ['account', 'investment', 'cpf', 'fxr']

In [11]:
df_account

   account       date     value currency
0      uob 2024-05-21  92481.88      sgd
1     ocbc 2024-05-21    659.24      sgd
2      dbs 2024-05-21    674.95      sgd
3   uob_my 2024-05-21  39456.48      myr
4  icbc_sg 2024-05-21     49.61      sgd
5  icbc_cn 2024-05-21   4395.53      cny
6   wechat 2024-05-21   4911.87      cny
7   alipay 2024-05-21   3349.40      cny

In [12]:
# Insert dataframes into tables
for table_name, df in zip(tables, [df_account, df_investment, df_cpf, df_fxr]):
    try:
        # Write the DataFrame to the MySQL table
        df.to_sql(table_name, engine, if_exists='replace', index=False)
        print(f"Data inserted into table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error inserting data into table '{table_name}': {e}")

Data inserted into table 'account' successfully.
Data inserted into table 'investment' successfully.
Data inserted into table 'cpf' successfully.
Data inserted into table 'fxr' successfully.