In [1]:
import sys
import pandas as pd
from openbb import obb
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import inspect

In [2]:
# check environment
print(sys.prefix)
print(sys.executable)

c:\Users\xingyu.liu\Documents\project\finance\.venv
c:\Users\xingyu.liu\Documents\project\finance\.venv\Scripts\python.exe

In [14]:
# initialise login account
obb.account.login(pat="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoX3Rva2VuIjoiOTg3WDRWYzU1Wm9jeUU4czdHZlRKZGZ3UTRiRVpZMXRHbFByQnJxcyIsImV4cCI6MTc0ODA3MTEyN30._qAVbfjZNEq3wWUwT1ipwNhQijQgbtKpbfZ32guWY_8")
print(obb.user)
print('---------------------------------------------------------------------')
print(obb.account)
print('---------------------------------------------------------------------')
print(obb.user.credentials)

id='06653f5d-2998-7101-8000-c9c817a430ae' profile=Profile

hub_session: {'username': 'xyxy1013', 'email': 'silxingyu0719@gmail.com', 'primary_usage': 'personal', 'user_uuid': '06196470-30bf-44a9-b912-1bea3663a2ab', 'token_type': 'bearer', 'access_token': SecretStr('**********')} credentials=Credentials

benzinga_api_key: None
econdb_api_key: None
fmp_api_key: **********
fred_api_key: None
intrinio_api_key: None
polygon_api_key: None
tiingo_token: None
tradingeconomics_api_key: None preferences=Preferences

cache_directory: C:\Users\xingyu.liu\OpenBBUserData\cache
chart_style: dark
data_directory: C:\Users\xingyu.liu\OpenBBUserData
export_directory: C:\Users\xingyu.liu\OpenBBUserData\exports
metadata: True
output_type: dataframe
plot_enable_pywry: True
plot_open_export: False
plot_pywry_height: 762
plot_pywry_width: 1400
request_timeout: 60
show_warnings: True
table_style: dark
user_styles_directory: C:\Users\xingyu.liu\OpenBBUserData\styles\user defaults=Defaults

routes: {}
---------------------------------------------------------------------
/account
    login
    logout
    save
    refresh

---------------------------------------------------------------------
tiingo_token=None polygon_api_key=None benzinga_api_key=None fred_api_key=None tradingeconomics_api_key=None fmp_api_key=SecretStr('**********') econdb_api_key=None intrinio_api_key=None

In [12]:
obb.user.preferences.output_type = "dataframe"

In [16]:
obb.equity.fundamental.income(symbol='AAPL', provider='yfinance')

c:\Users\xingyu.liu\Documents\project\finance\.venv\lib\site-packages\openbb_yfinance\models\income_statement.py:78: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.fillna("N/A").replace("N/A", None).to_dict()

,period_ending,operating_revenue,total_revenue,cost_of_revenue,gross_profit,selling_general_and_admin_expense,research_and_development_expense,operating_expense,operating_income,interest_income_non_operating,...,interest_expense,net_interest_income,ebit,ebitda,reconciled_cost_of_revenue,reconciled_depreciation,net_income_from_continuing_operation_net_minority_interest,normalized_ebitda,tax_rate_for_calcs,tax_effect_of_unusual_items
0,2023-09-30,3.832850e+11,3.832850e+11,2.141370e+11,1.691480e+11,2.493200e+10,2.991500e+10,5.484700e+10,1.143010e+11,3.750000e+09,...,3.933000e+09,-183000000.0,1.176690e+11,1.291880e+11,2.141370e+11,1.151900e+10,9.699500e+10,1.291880e+11,0.147,0.0
1,2022-09-30,3.943280e+11,3.943280e+11,2.235460e+11,1.707820e+11,2.509400e+10,2.625100e+10,5.134500e+10,1.194370e+11,2.825000e+09,...,2.931000e+09,-106000000.0,1.220340e+11,1.331380e+11,2.235460e+11,1.110400e+10,9.980300e+10,1.331380e+11,0.162,0.0
2,2021-09-30,3.658170e+11,3.658170e+11,2.129810e+11,1.528360e+11,2.197300e+10,2.191400e+10,4.388700e+10,1.089490e+11,2.843000e+09,...,2.645000e+09,198000000.0,1.118520e+11,1.231360e+11,2.129810e+11,1.128400e+10,9.468000e+10,1.231360e+11,0.133,0.0
3,2020-09-30,2.745150e+11,2.745150e+11,1.695590e+11,1.049560e+11,1.991600e+10,1.875200e+10,3.866800e+10,6.628800e+10,3.763000e+09,...,2.873000e+09,890000000.0,6.996400e+10,8.102000e+10,1.695590e+11,1.105600e+10,5.741100e+10,8.102000e+10,0.144,0.0

1m = One Minute  
1h = One Hour    
1d = One Day     
1W = One Week    
1M = One Month  
The date for monthly value is the first or last, depending on the provider. yfinance returns the monthly data for the first day of each month.  
Below can resample the last day value as the monthly value  
(
    df_daily[["open", "high", "low", "close", "volume"]]
    .resample("M")
    .agg(
        {"open": "first", "high": "max", "low": "min", "close": "last", "volume": "sum"}
    )
)

In [64]:
# historical data daily
hist_para = {
    'symbol' : 'nvda',
    'end_date' : pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d'),
    'start_date' : '1900-01-01',
    'provide' : 'yfinance',
    'interval' : '1d'
}

In [71]:
df_daily = obb.equity.price.historical(symbol=hist_para['symbol'], start_date=hist_para['start_date'], end_date=hist_para['end_date'], interval=hist_para['interval'], provider=hist_para['provide'])
df_daily.reset_index(inplace=True)
df_daily['symbol'] = hist_para['symbol']
df_daily

,date,open,high,low,close,volume,split_ratio,dividend,symbol
0,1999-01-22,0.437500,0.488281,0.388021,0.410156,271468800,0.0,0.0,nvda
1,1999-01-25,0.442708,0.458333,0.410156,0.453125,51048000,0.0,0.0,nvda
2,1999-01-26,0.458333,0.467448,0.411458,0.417969,34320000,0.0,0.0,nvda
3,1999-01-27,0.419271,0.429688,0.395833,0.416667,24436800,0.0,0.0,nvda
4,1999-01-28,0.416667,0.419271,0.412760,0.415365,22752000,0.0,0.0,nvda
...,...,...,...,...,...,...,...,...,...
6372,2024-05-20,937.500000,952.000000,934.400024,947.799988,31876400,0.0,0.0,nvda
6373,2024-05-21,935.989990,954.000000,931.799988,953.859985,32894600,0.0,0.0,nvda
6374,2024-05-22,954.590027,960.200012,932.489990,949.500000,54864800,0.0,0.0,nvda
6375,2024-05-23,1020.280029,1063.199951,1015.200012,1037.989990,83506500,0.0,0.0,nvda
6376,2024-05-24,1044.489990,1064.750000,1030.000000,1064.689941,42650200,0.0,0.0,nvda

In [60]:
# minute data up to 7 days
minute_para = {
    'symbol' : 'nvda',
    'end_date' : pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d'),
    'start_date' : (pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern') - pd.Timedelta(7, unit='d')).strftime('%Y-%m-%d'),
    'provide' : 'yfinance',
    'interval' : '1m'
}

In [73]:
df_minute = obb.equity.price.historical(symbol=minute_para['symbol'], start_date=minute_para['start_date'], end_date=minute_para['end_date'], interval=minute_para['interval'], provider=minute_para['provide'])
df_minute.reset_index(inplace=True)
df_minute['symbol'] = minute_para['symbol']
df_minute

,date,open,high,low,close,volume,split_ratio,dividend,symbol
0,2024-05-20 09:30:00,937.500000,938.500000,934.400024,937.619995,1499841,0.0,0.0,nvda
1,2024-05-20 09:31:00,937.899902,940.000000,937.700012,939.659973,348138,0.0,0.0,nvda
2,2024-05-20 09:32:00,939.664978,942.880005,937.869995,942.474976,357786,0.0,0.0,nvda
3,2024-05-20 09:33:00,942.369995,944.799988,942.090027,942.280029,342044,0.0,0.0,nvda
4,2024-05-20 09:34:00,942.280029,945.049988,942.094971,944.000000,303091,0.0,0.0,nvda
...,...,...,...,...,...,...,...,...,...
1940,2024-05-24 15:55:00,1061.229980,1061.900024,1060.580078,1061.859985,171541,0.0,0.0,nvda
1941,2024-05-24 15:56:00,1061.900024,1061.989990,1061.119995,1061.650024,142621,0.0,0.0,nvda
1942,2024-05-24 15:57:00,1061.650024,1061.750000,1061.360107,1061.510010,151982,0.0,0.0,nvda
1943,2024-05-24 15:58:00,1061.609985,1062.419922,1060.949951,1062.400024,244656,0.0,0.0,nvda
1944,2024-05-24 15:59:00,1062.400024,1064.750000,1062.180054,1064.380127,437814,0.0,0.0,nvda

In [82]:
# Define the connection URL
# DATABASE_URL = "mysql+mysqlconnector://root:Lxy930719@localhost/finance"
DATABASE_URL = "mysql+mysqlconnector://lxy:Lxy930719~@mydb.cvgm8e2kwp95.us-east-1.rds.amazonaws.com/finance"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [79]:
# df_daily.to_excel('./stock_data/daily.xlsx', sheet_name='daily', index=False)
# df_minute.to_excel('./stock_data/minute.xlsx', sheet_name='minute', index=False)

In [83]:
tables = ['historical_daily', 'historical_minute']

In [84]:
# Insert dataframes into tables
for table_name, df in zip(tables, [df_daily, df_minute]):
    try:
        # Write the DataFrame to the MySQL table
        df.to_sql(table_name, engine, if_exists='replace', index=False)
        print(f"Data inserted into table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error inserting data into table '{table_name}': {e}")

Data inserted into table 'historical_daily' successfully.
Data inserted into table 'historical_minute' successfully.