In [2]:
import sys
import pandas as pd
from openbb import obb
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import inspect

Extensions to add: benzinga@1.2.1, commodity@1.1.1, crypto@1.2.1, currency@1.2.1, derivatives@1.2.1, econdb@1.1.1, economy@1.2.1, equity@1.2.1, etf@1.2.1, federal_reserve@1.2.1, fixedincome@1.2.1, fmp@1.2.1, fred@1.2.1, index@1.2.1, intrinio@1.2.1, news@1.2.1, oecd@1.2.1, polygon@1.2.1, regulators@1.2.1, sec@1.2.1, tiingo@1.2.1, tradingeconomics@1.2.1, yfinance@1.2.1
Extensions to remove: benzinga@1.2.0, commodity@1.1.0, crypto@1.2.0, currency@1.2.0, derivatives@1.2.0, econdb@1.1.0, economy@1.2.0, equity@1.2.0, etf@1.2.0, federal_reserve@1.2.0, fixedincome@1.2.0, fmp@1.2.0, fred@1.2.0, index@1.2.0, intrinio@1.2.0, news@1.2.0, oecd@1.2.0, polygon@1.2.0, regulators@1.2.0, sec@1.2.0, tiingo@1.2.0, tradingeconomics@1.2.0, yfinance@1.2.0

Building...

In [2]:
# check environment
print(sys.prefix)
print(sys.executable)

c:\Users\xyxy0\Documents\project\finance\.venv
c:\Users\xyxy0\Documents\project\finance\.venv\Scripts\python.exe

In [3]:
# initialise login account
obb.account.login(pat="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoX3Rva2VuIjoiOTg3WDRWYzU1Wm9jeUU4czdHZlRKZGZ3UTRiRVpZMXRHbFByQnJxcyIsImV4cCI6MTc0ODA3MTEyN30._qAVbfjZNEq3wWUwT1ipwNhQijQgbtKpbfZ32guWY_8")
print(obb.user)
print('---------------------------------------------------------------------')
print(obb.account)
print('---------------------------------------------------------------------')
print(obb.user.credentials)

id='066548f3-d27f-732e-8000-95702693356e' profile=Profile

hub_session: {'username': 'xyxy1013', 'email': 'silxingyu0719@gmail.com', 'primary_usage': 'personal', 'user_uuid': '06196470-30bf-44a9-b912-1bea3663a2ab', 'token_type': 'bearer', 'access_token': SecretStr('**********')} credentials=Credentials

benzinga_api_key: None
econdb_api_key: None
fmp_api_key: **********
fred_api_key: None
intrinio_api_key: None
polygon_api_key: None
tiingo_token: None
tradingeconomics_api_key: None preferences=Preferences

cache_directory: C:\Users\xyxy0\OpenBBUserData\cache
chart_style: dark
data_directory: C:\Users\xyxy0\OpenBBUserData
export_directory: C:\Users\xyxy0\OpenBBUserData\exports
metadata: True
output_type: OBBject
plot_enable_pywry: True
plot_open_export: False
plot_pywry_height: 762
plot_pywry_width: 1400
request_timeout: 60
show_warnings: True
table_style: dark
user_styles_directory: C:\Users\xyxy0\OpenBBUserData\styles\user defaults=Defaults

routes: {}
---------------------------------------------------------------------
/account
    login
    logout
    save
    refresh

---------------------------------------------------------------------
polygon_api_key=None tradingeconomics_api_key=None econdb_api_key=None fred_api_key=None benzinga_api_key=None intrinio_api_key=None fmp_api_key=SecretStr('**********') tiingo_token=None

In [4]:
obb.user.preferences.output_type = "dataframe"

# Part 1 financial statement

In [12]:
# list all company from biggest to smallest by market cap
obb.equity.search('', provider='sec')

        symbol                    name      cik
0         MSFT          MICROSOFT CORP   789019
1         AAPL              Apple Inc.   320193
2         NVDA             NVIDIA CORP  1045810
3        GOOGL           Alphabet Inc.  1652044
4         AMZN          AMAZON COM INC  1018724
...        ...                     ...      ...
10301    EVGRU          Evergreen Corp  1900402
10302    EVGRW          Evergreen Corp  1900402
10303  BITE-UN  Bite Acquisition Corp.  1831270
10304  BITE-WT  Bite Acquisition Corp.  1831270
10305    MSEXP      MIDDLESEX WATER CO    66004

[10306 rows x 3 columns]

In [15]:
obb.index.available(provider='yfinance')

                                    name       code    symbol
0                          S&P 500 Index      sp500     ^GSPC
1                          S&P 500 Index        spx      ^SPX
2                  S&P 400 Mid Cap Index      sp400    ^SP400
3                S&P 600 Small Cap Index      sp600    ^SP600
4                       S&P 500 TR Index    sp500tr  ^SP500TR
..                                   ...        ...       ...
269  CBOE Euro Currency Volatility Index   cboe_evz      ^EVZ
270   CBOE Russell 2000 Volatility Index   cboe_rvx      ^RVX
271                ICE BofAML Move Index       move     ^MOVE
272                      US Dollar Index        dxy  DX-Y.NYB
273      CMC Crypto 200 Index by Solacti  crypto200   ^CMC200

[274 rows x 3 columns]

In [27]:
income = obb.equity.fundamental.income('nvda', provider='fmp', limit=150, period='annual')
income

,period_ending,fiscal_period,fiscal_year,filing_date,accepted_date,reported_currency,revenue,cost_of_revenue,gross_profit,gross_profit_margin,...,pre_tax_income_margin,income_tax_expense,consolidated_net_income,net_income_margin,basic_earnings_per_share,diluted_earnings_per_share,weighted_average_basic_shares_outstanding,weighted_average_diluted_shares_outstanding,link,final_link
0,2024-01-28,FY,2024,2024-02-21,2024-02-21 16:36:57,USD,6.092200e+10,1.662100e+10,4.430100e+10,0.727176,...,0.555103,4.058000e+09,2.976000e+10,0.488493,12.05,11.93,2.469000e+09,2.494000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
1,2023-01-29,FY,2023,2023-02-24,2023-02-24 17:23:43,USD,2.697400e+10,1.161800e+10,1.535600e+10,0.569289,...,0.155001,-1.870000e+08,4.368000e+09,0.161934,1.76,1.74,2.487000e+09,2.507000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
2,2022-01-30,FY,2022,2022-03-18,2022-03-17 20:33:34,USD,2.691400e+10,9.439000e+09,1.747500e+10,0.649290,...,0.369362,1.890000e+08,9.752000e+09,0.362339,3.91,3.85,2.496000e+09,2.535000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
3,2021-01-31,FY,2021,2021-02-26,2021-02-26 17:03:14,USD,1.667500e+10,6.279000e+09,1.039600e+10,0.623448,...,0.264408,7.700000e+07,4.332000e+09,0.259790,1.76,1.72,2.468000e+09,2.512000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
4,2020-01-26,FY,2020,2020-02-20,2020-02-20 16:38:18,USD,1.091800e+10,4.150000e+09,6.768000e+09,0.619894,...,0.272028,1.740000e+08,2.796000e+09,0.256091,1.15,1.13,2.436000e+09,2.472000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...

In [28]:
cash = obb.equity.fundamental.cash('nvda', provider='fmp', limit=150, period='annual')
cash

,period_ending,fiscal_period,fiscal_year,filing_date,accepted_date,reported_currency,net_income,depreciation_and_amortization,deferred_income_tax,stock_based_compensation,...,other_financing_activities,net_cash_from_financing_activities,net_change_in_cash_and_equivalents,cash_at_beginning_of_period,cash_at_end_of_period,operating_cash_flow,capital_expenditure,free_cash_flow,link,final_link
0,2024-01-28,FY,2024,2024-02-21,2024-02-21 16:36:57,USD,2.976000e+10,1.508000e+09,-2.489000e+09,3.549000e+09,...,-2.858000e+09,-1.363300e+10,3.891000e+09,3.389000e+09,7.280000e+09,2.809000e+10,-1.069000e+09,2.702100e+10,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
1,2023-01-29,FY,2023,2023-02-24,2023-02-24 17:23:43,USD,4.368000e+09,1.544000e+09,-2.164000e+09,2.709000e+09,...,-1.180000e+09,-1.161700e+10,1.399000e+09,1.990000e+09,3.389000e+09,5.641000e+09,-1.833000e+09,3.808000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
2,2022-01-30,FY,2022,2022-03-18,2022-03-17 20:33:34,USD,9.752000e+09,1.174000e+09,-4.060000e+08,2.004000e+09,...,4.887000e+09,1.865000e+09,1.143000e+09,8.470000e+08,1.990000e+09,9.108000e+09,-9.760000e+08,8.132000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
3,2021-01-31,FY,2021,2021-02-26,2021-02-26 17:03:14,USD,4.332000e+09,1.098000e+09,-2.820000e+08,1.397000e+09,...,9.915000e+09,3.804000e+09,-1.004900e+10,1.089600e+10,8.470000e+08,5.822000e+09,-1.128000e+09,4.694000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...
4,2020-01-26,FY,2020,2020-02-20,2020-02-20 16:38:18,USD,2.796000e+09,3.810000e+08,1.800000e+07,8.440000e+08,...,1.177000e+09,-7.920000e+08,1.011400e+10,7.820000e+08,1.089600e+10,4.761000e+09,-4.890000e+08,4.272000e+09,https://www.sec.gov/Archives/edgar/data/104581...,https://www.sec.gov/Archives/edgar/data/104581...

In [ ]:
# div_per_share = cash['payment_of_dividends] / income['weighted_average_basic_shares_outstanding']

In [32]:
marketcap = obb.equity.fundamental.historical_attributes('nvda', tag='marketcap', provider='intrinio', period='quarter')
marketcap

OpenBBError:
[Error] -> Missing credential 'intrinio_api_key'. Check https://intrinio.com to get it.

In [33]:
# quick and current ratio measure the short-term liquidity or its ability to generate cash to pay off all debts should they become due, measure the company finanical health
ratios = obb.equity.fundamental.ratios('nvda', provider='fmp', limit=150)
ratios

,period_ending,fiscal_period,fiscal_year,current_ratio,quick_ratio,cash_ratio,days_of_sales_outstanding,days_of_inventory_outstanding,operating_cycle,days_of_payables_outstanding,...,price_to_sales_ratio,price_earnings_ratio,price_to_free_cash_flows_ratio,price_to_operating_cash_flows_ratio,price_cash_flow_ratio,price_earnings_to_growth_ratio,price_sales_ratio,dividend_yield,enterprise_value_multiple,price_fair_value
0,2024-01-28,FY,2024,4.171292,3.384724,0.684790,59.906684,115.993623,175.900306,59.270501,...,25.315335,51.823281,57.076379,54.904267,54.904267,0.088638,25.315335,0.000256,44.838656,35.884891
1,2023-01-29,FY,2023,3.515618,2.609020,0.516380,51.785238,162.079101,213.864339,37.480203,...,17.667344,109.102321,125.146780,84.481287,84.481287,-1.984140,17.667344,0.000835,66.079692,21.562777
2,2022-01-30,FY,2022,6.650288,5.964937,0.459054,63.061975,100.733658,163.795633,68.947452,...,22.708277,62.671304,75.156242,67.102609,67.102609,0.513030,22.708277,0.000653,54.697169,22.965976
3,2021-01-31,FY,2021,4.090446,3.564331,0.215796,53.168516,106.145883,159.314399,69.814461,...,19.591554,75.413010,69.597179,56.112875,56.112875,1.421721,19.591554,0.001209,58.590610,19.338730
4,2020-01-26,FY,2020,7.673767,7.036996,6.107623,55.395219,86.104819,141.500038,60.422892,...,13.398223,52.318240,34.241994,30.725016,30.725016,-1.617109,13.398223,0.002666,40.534176,11.986382

In [38]:
metrics = obb.equity.fundamental.metrics('nvda', provider='fmp', period='annual')
metrics

,symbol,market_cap,pe_ratio,period_ending,fiscal_period,calendar_year,revenue_per_share,capex_per_share,net_income_per_share,operating_cash_flow_per_share,...,days_of_inventory_on_hand,receivables_turnover,payables_turnover,inventory_turnover,return_on_equity,return_on_invested_capital,return_on_tangible_assets,dividend_yield,graham_number,graham_net_net
0,NVDA,1.542261e+12,51.823281,2024-01-28,FY,2024,24.674767,-0.432969,12.053463,11.377076,...,115.993623,6.092809,6.158207,3.146725,0.692447,0.548342,0.494467,0.000256,68.708384,5.416869
1,NVDA,4.765589e+11,109.102321,2023-01-29,FY,2023,10.845999,-0.737033,1.756333,2.268195,...,162.079101,7.048341,9.738474,2.251987,0.197638,0.129960,0.124324,0.000835,18.739705,-0.134801
2,NVDA,6.111706e+11,62.671304,2022-01-30,FY,2022,10.782853,-0.391026,3.907051,3.649038,...,100.733658,5.787957,5.293887,3.623417,0.366451,0.256226,0.260060,0.000653,30.614860,3.374599
3,NVDA,3.266892e+11,75.413010,2021-01-31,FY,2021,6.756483,-0.457050,1.755267,2.358995,...,106.145883,6.864965,5.228143,3.438664,0.256438,0.181823,0.198161,0.001209,16.441586,0.971536
4,NVDA,1.462818e+11,52.318240,2020-01-26,FY,2020,4.481938,-0.200739,1.147783,1.954433,...,86.104819,6.589016,6.040757,4.239019,0.229105,0.180458,0.167948,0.002666,11.374535,3.086310

In [40]:
metrics[['calendar_year','free_cash_flow_yield']]

   calendar_year  free_cash_flow_yield
0           2024              0.017520
1           2023              0.007991
2           2022              0.013306
3           2021              0.014368
4           2020              0.029204

# Part 2 historical data
1m = One Minute  
1h = One Hour    
1d = One Day     
1W = One Week    
1M = One Month  
The date for monthly value is the first or last, depending on the provider. yfinance returns the monthly data for the first day of each month.  
Below can resample the last day value as the monthly value  
(
    df_daily[["open", "high", "low", "close", "volume"]]
    .resample("M")
    .agg(
        {"open": "first", "high": "max", "low": "min", "close": "last", "volume": "sum"}
    )
)

In [64]:
# historical data daily
hist_para = {
    'symbol' : 'nvda',
    'end_date' : pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d'),
    'start_date' : '1900-01-01',
    'provide' : 'yfinance',
    'interval' : '1d'
}

In [71]:
df_daily = obb.equity.price.historical(symbol=hist_para['symbol'], start_date=hist_para['start_date'], end_date=hist_para['end_date'], interval=hist_para['interval'], provider=hist_para['provide'])
df_daily.reset_index(inplace=True)
df_daily['symbol'] = hist_para['symbol']
df_daily

,date,open,high,low,close,volume,split_ratio,dividend,symbol
0,1999-01-22,0.437500,0.488281,0.388021,0.410156,271468800,0.0,0.0,nvda
1,1999-01-25,0.442708,0.458333,0.410156,0.453125,51048000,0.0,0.0,nvda
2,1999-01-26,0.458333,0.467448,0.411458,0.417969,34320000,0.0,0.0,nvda
3,1999-01-27,0.419271,0.429688,0.395833,0.416667,24436800,0.0,0.0,nvda
4,1999-01-28,0.416667,0.419271,0.412760,0.415365,22752000,0.0,0.0,nvda
...,...,...,...,...,...,...,...,...,...
6372,2024-05-20,937.500000,952.000000,934.400024,947.799988,31876400,0.0,0.0,nvda
6373,2024-05-21,935.989990,954.000000,931.799988,953.859985,32894600,0.0,0.0,nvda
6374,2024-05-22,954.590027,960.200012,932.489990,949.500000,54864800,0.0,0.0,nvda
6375,2024-05-23,1020.280029,1063.199951,1015.200012,1037.989990,83506500,0.0,0.0,nvda
6376,2024-05-24,1044.489990,1064.750000,1030.000000,1064.689941,42650200,0.0,0.0,nvda

In [60]:
# minute data up to 7 days
minute_para = {
    'symbol' : 'nvda',
    'end_date' : pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern').strftime('%Y-%m-%d'),
    'start_date' : (pd.Timestamp.now().tz_localize('Asia/Singapore').tz_convert('US/Eastern') - pd.Timedelta(7, unit='d')).strftime('%Y-%m-%d'),
    'provide' : 'yfinance',
    'interval' : '1m'
}

In [73]:
df_minute = obb.equity.price.historical(symbol=minute_para['symbol'], start_date=minute_para['start_date'], end_date=minute_para['end_date'], interval=minute_para['interval'], provider=minute_para['provide'])
df_minute.reset_index(inplace=True)
df_minute['symbol'] = minute_para['symbol']
df_minute

,date,open,high,low,close,volume,split_ratio,dividend,symbol
0,2024-05-20 09:30:00,937.500000,938.500000,934.400024,937.619995,1499841,0.0,0.0,nvda
1,2024-05-20 09:31:00,937.899902,940.000000,937.700012,939.659973,348138,0.0,0.0,nvda
2,2024-05-20 09:32:00,939.664978,942.880005,937.869995,942.474976,357786,0.0,0.0,nvda
3,2024-05-20 09:33:00,942.369995,944.799988,942.090027,942.280029,342044,0.0,0.0,nvda
4,2024-05-20 09:34:00,942.280029,945.049988,942.094971,944.000000,303091,0.0,0.0,nvda
...,...,...,...,...,...,...,...,...,...
1940,2024-05-24 15:55:00,1061.229980,1061.900024,1060.580078,1061.859985,171541,0.0,0.0,nvda
1941,2024-05-24 15:56:00,1061.900024,1061.989990,1061.119995,1061.650024,142621,0.0,0.0,nvda
1942,2024-05-24 15:57:00,1061.650024,1061.750000,1061.360107,1061.510010,151982,0.0,0.0,nvda
1943,2024-05-24 15:58:00,1061.609985,1062.419922,1060.949951,1062.400024,244656,0.0,0.0,nvda
1944,2024-05-24 15:59:00,1062.400024,1064.750000,1062.180054,1064.380127,437814,0.0,0.0,nvda

# Save data to database

In [82]:
# Define the connection URL
# DATABASE_URL = "mysql+mysqlconnector://root:Lxy930719@localhost/finance"
DATABASE_URL = "mysql+mysqlconnector://lxy:Lxy930719~@mydb.cvgm8e2kwp95.us-east-1.rds.amazonaws.com/finance"

# Create the SQLAlchemy engine
engine = create_engine(DATABASE_URL)

In [79]:
# df_daily.to_excel('./stock_data/daily.xlsx', sheet_name='daily', index=False)
# df_minute.to_excel('./stock_data/minute.xlsx', sheet_name='minute', index=False)

In [83]:
tables = ['historical_daily', 'historical_minute']

In [84]:
# Insert dataframes into tables
for table_name, df in zip(tables, [df_daily, df_minute]):
    try:
        # Write the DataFrame to the MySQL table
        df.to_sql(table_name, engine, if_exists='replace', index=False)
        print(f"Data inserted into table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error inserting data into table '{table_name}': {e}")

Data inserted into table 'historical_daily' successfully.
Data inserted into table 'historical_minute' successfully.